[2019-09-27 13:01] garethf89 opened #1 "Javascript issue on fresh install"
I am getting the javascript error below when using a fresh installation of Umbraco 8 and installing Plumber 1.0.0 Beta.

The error occurs when I click the workflow tab on a Node.

angular.js?cdv=672968060:15536 TypeError: Cannot read property 'culture' of null

![Screenshot 2019-09-27 at 13 58 27](https://user-images.githubusercontent.com/5473451/65770939-0aa7ea80-e12f-11e9-9618-8fb3197e12ce.png)

[2019-09-27 22:33] nathanwoulfe commented on #1
Ah yeah, I was a bit excited about managing variant content that I forgot to check what happens with invariant nodes... Turns out the content model doesn't include the default culture, instead culture is null. I need to add a check for that, and make the default culture available too.

[2019-09-30 06:44] nathanwoulfe commented on #1
I've updated the beta release package, should be no more JS error if you update to build #000211.

[2019-09-30 10:18] garethf89 commented on #1
Thanks for the quick fix!

[2019-09-30 10:18] #1 closed

[2019-09-30 10:19] garethf89 opened #2 "Error on selecting a Node"
The below issue occurs on a fresh installation when clicking on any node, I have not yet been able to set up any Workflows or do anything in Plumber.

![Screenshot 2019-09-30 at 11 17 17](https://user-images.githubusercontent.com/5473451/65870460-336cf180-e374-11e9-9ba7-9235cd138d91.png)

[2019-09-30 11:19] nathanwoulfe commented on #2
Anything in logs? If you have access to the workflow section, try filling in the workflow settings info, and creating a group, adding users, then accessing a node.

I haven't worked from a clean install in a while so could be related to plumber expecting values that may not yet exist. Will do a fresh install and see if I can reproduce.

[2019-09-30 12:01] garethf89 commented on #2
I have created a group and added a user, then this appears when I click on a node.

[2019-09-30 13:49] garethf89 commented on #2
This is in the console:

`angular.js?cdv=191073365:15536 Possibly unhandled rejection: {"errorMsg":"Something broke","data":{"ExceptionType":"NullReferenceException","ExceptionMessage":"Error getting node config","StackTrace":"   at Plumber.Web.Api.ConfigController.GetNodeConfig(Int32 id, Int32 type, String path, String variant)"},"status":500}`

This is in umbraco logs

`{"@t":"2019-09-30T13:48:4

[2019-09-30 23:03] nathanwoulfe commented on #2
Found the issue, will update the beta build and ping you when it's available.

Probably should make those logged messages a bit more useful too...

[2019-10-02 10:15] nathanwoulfe commented on #2
Have added a new beta, give it a try.

[2019-10-07 15:24] garethf89 opened #3 "Error on requesting publish"
The below error occurs when I click 'request Publish',  this is when I am using an 'Exlcude workflow'.

{"@t":"2019-09-26T16:16:13.2863092Z","@mt":"Error getting node config","@l":"Error","SourceContext":"Plumber.Web.Api.ConfigController","ProcessId":2104,"ProcessName":"iisexpress","ThreadId":28,"AppDomainId":4,"AppDomainAppId":"XXX","MachineName":"XXX","Log4NetLevel":"ERROR","HttpRequestNumber":1

[2019-10-07 15:25] garethf89 commented on #2
Hi Nathan, thanks for helping with this! Not getting any errors now but getting one on publish.

Thanks for your help with this, hoping to use this in a new project im working on to avoid using the outdated Umbraco 7.

[2019-10-07 15:25] #2 closed

[2019-10-07 20:41] nathanwoulfe commented on #3
Those log messages are pathetic, I need to fix them...

Will have a look into it, I don't think the workflow type will be a factor, something's not happy when checking the config for the current node, I'm guessing it's variant-related.

[2019-10-07 20:41] nathanwoulfe commented on #3
Could you also share the full stack trace? Might need to grab it from the log file directly

[2019-10-09 09:56] garethf89 commented on #3
at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncC

[2019-10-09 10:16] nathanwoulfe commented on #3
Nothing overly useful there. Try updating to the latest beta, I fixed a couple of potentially dodgy bits which may have resolved it.

I haven't been able to replicate the error, does it happen every attempt?

[2019-10-09 13:14] garethf89 commented on #3
Thanks for looking at that.

I deleted my Approval Group and created a new one, it worked. Not sure why but at least its fixed.

Im having a couple of usability issues still:

1. Every screen its coming up with a pop-up to go to the purchase screen and trial option is greyed out. I just need basic workflow working for a new website my company are building so trial is fine, however i cant select it

[2019-10-16 09:58] timmywiff opened #4 "Create new node error"
Hi, I'm getting an error when creating a new node. I have created Users, a Document Type, an Approval Group and I'm using the Trial features.

Umbraco 8.2.0

![image](https://user-images.githubusercontent.com/14854835/66908922-cd36ce80-f003-11e9-8590-970108806b81.png)

Stacktrace:
`at System.Data.SqlServerCe.SqlCeDataReader.ProcessResults(Int32 hr)
   at System.Data.SqlServerCe.SqlCeDataReader.IsE

[2019-10-16 10:30] nathanwoulfe commented on #4
Hi @timmywiff, pretty sure I've resolved that in the current build, just need to publish to GitHub. Will get that up asap, provided I have actually fixed it...

[2019-10-16 10:42] timmywiff commented on #4
Hi @nathanwoulfe, that's great news. I'm very keen to explore what this plugin can do and hopefully use it on a new project. I'll try and provide any useful feedback/issues.

[2019-10-23 09:55] garethf89 commented on #3
Hi @nathanwoulfe ,

Thanks for all the help with issues so far and I really do appreciate the effort you have put in with this plugin.

I am at a point in my project where I have to make a final decision on Umbraco 7 vs 8. I really don't want to start using the old version as 8 has so many good features. However Plumber is critical functionality for the business.

Do you know when this Plugin migh

[2019-10-23 10:10] nathanwoulfe commented on #3
Hi @garethf89 no worries, I appreciate the feedback - helped me to track down a few bits that I'd made silly assumptions around.

I've sorted the two issues you raised earlier, need to package that up and release the new beta, which I'll get done tomorrow.

After that, I'd like to do some full end-to-end user testing on a clean install, to hopefully (or hopefully not) throw up any other oddities,

[2019-11-14 10:04] callumbwhyte opened #5 "Unable to generate license"
When trying to generate a license via the backoffice I get a data serialization exception...

This is using v1.0.3 via NuGet on Umbraco v8.3.0.

See error below!

[code]

[2019-11-14 11:07] nathanwoulfe commented on #5
That's a pretty useless error message isn't it... I'll need to check if anything was logged on the payment server, hopefully something more insightful...

You weren't doing anything funky, just a trial license sign-up?

[2019-11-14 11:08] callumbwhyte commented on #5
Indeed it is! Nothing more useful in the logs either sadly...

Nothing funky - just trying to create a trial license.

[2019-11-14 11:23] nathanwoulfe commented on #5
Looks like a field missing in the post to the payment server - I have an object ref error when creating a customer, which means it's one of 5 (from memory) possible values missing. Shouldn't be too difficult to track down, will have a dig in the morning...

[2019-11-14 11:49] callumbwhyte commented on #5
Think I've tracked the issue down :-)

You have an HTML form in your "subscribe" dialog for the license details - this form does a post to a local API endpoint to generate a license. When the form opens the Stripe JS SDK is loaded but fails to load as I am running the site locally without HTTPS.

Stripe requires HTTPS in order to run, see https://stripe.com/docs/web/setup#http-requirements

The `$

[2019-11-14 19:13] nathanwoulfe commented on #5
That will be it. Might need to rethink how that dialog works - https will always be a requirement for the license, given the Stripe integration, but I don't need the token generated for a trial license. Should be able to do something with detecting the license type, loading Stripe only if needed. Of course Stripe doesn't need SSL for test data...

Really don't want to leave the backoffice for lice

[2019-11-14 22:01] jenluong-deepend commented on #4
Hi there!
Has the latest build been published to GitHub?
Currently have a fresh install of Umbraco: 8.3.0 and Plumber: 1.0.0-beta-000212 and getting this error!

[2019-11-14 22:17] nathanwoulfe commented on #4
Hi @jenluong-deepend I've released a v1, it's on nuget now as plumber.workflow. Latest is v1.0.4

[2019-11-14 22:25] nathanwoulfe commented on #5
Have a crack with v1.0.4 - no longer uses stripe js for trial licensing. I think it's working...

[2019-11-15 02:46] jenluong-deepend opened #6 "Adding content type flow"
**Versions**
Fresh install of Umbraco: 8.3.0 & Plumber: 1.0.4

**Issue**
Unable to create content type flows. I can go through and setup the "current flow", but get this error once I press "save". Not sure if part of my problem is that I'm using the incorrect license file? Using the one here: https://github.com/nathanwoulfe/Plumber-2/releases/tag/v1.0.0-beta

----

Exception Details
InvalidLicense

[2019-11-15 02:59] jenluong-deepend opened #7 "After creating/deleting approval group list does not automatically update"
Versions
Fresh install of Umbraco: 8.3.0 & Plumber: 1.0.4

Issue
When adding/deleting an approval group, list doesn't automatically update until you do a page refresh.

![image](https://user-images.githubusercontent.com/40009643/68913334-03a46c80-07af-11ea-9dec-40280cb6fa0c.png)

If you also switch to a content node right after (without refreshing) and try to configure the Content approval flow, t

[2019-11-15 03:03] nathanwoulfe commented on #6
I'm surprised that license actually works at all, I've made some substantial changes to how licenses are validated since that beta was published... Content type flows are now a licensed feature, so require the basic license at minimum.

Appreciate the kind words too! 😁

[2019-11-15 03:10] jenluong-deepend opened #8 "Request publish"
**Versions**
Fresh install of Umbraco: 8.3.0 & Plumber: 1.0.4

**Issue**
I enter a comment into "Describe the changes" and then press "Request Publish" and then I get this error

[code]

I thought maybe the SMTP details were incorrect so I did a test "forgot password" email for a CMS user and received the email correctly.

Looks like it partially works because I can see the count for "pending" inc

[2019-11-15 03:20] jenluong-deepend commented on #6
@nathanwoulfe hahah oh right! What should I be doing now for licensing (sorry if this is mentioned somewhere already)? Should I try and go through the subscription section and try setup a trial license with the test stripe payment details?

[2019-11-15 04:16] nathanwoulfe commented on #6
I'll need to generate a couple of new licenses, will attach them to the release (which also needs to be updated with the latest)

[2019-11-15 04:18] nathanwoulfe commented on #8
Something dead in the emailer. I'll look into it

[2019-11-15 04:36] nathanwoulfe commented on #7
That's a bit annoying isn't it... I've changed the group creation flow, so where it previously caused a reload due to using an old dialog, that not longer happens. Will need to plug in some event management stuff to refresh the data table.

From memory, the group info on the content node is cached on the client. Need to invalidate that when a group is added or removed, and push new data into the c

[2019-11-15 10:29] callumbwhyte commented on #5
Thanks for taking a look! No luck though... The Stripe API is still loaded regardless and so still crashes the controller. Looks like you need to wrap a condition around this call at the start of `$onInit`:

[code]

[2019-11-15 10:43] nathanwoulfe commented on #5
That's strange - it should be ok to initialise stripe regardless of the connection (at least, I've been able to do so locally with no issues), problems should be trying to use it over http...

I have a couple of other bits to look at over the weekend, will sort this one too.

[2019-11-16 04:38] nathanwoulfe commented on #8
@jenluong-deepend this should be resolved in 1.0.5 - update via nuget, let me know if it's ok. It was a pretty obvious bug, so I'm confident it will be ok (famous last words).

[2019-11-16 04:40] nathanwoulfe commented on #7
@jenluong-deepend also fixed in 1.0.5 - please confirm. 😃

[2019-11-16 04:45] nathanwoulfe commented on #5
@callumbwhyte should be ok now - works on my machine at least... I'm not initialising stripe on http connections (loading it, but not feeding it an API key to init), and it's not used for trial subs, so should be working in 1.0.5.

If you're wanting to kick the tyres, you can use the [test license](../raw/master/test.lic) to impersonate the pro license - drop the file in app_plugins/plumber and re

[2019-11-16 04:46] #4 closed

[2019-11-18 11:25] callumbwhyte commented on #5
@nathanwoulfe That works much better now - thanks, H5YR!

[2019-11-18 11:25] #5 closed

[2019-11-21 11:01] callumbwhyte opened #9 "Publish buttons disappear in release mode"
When running Umbraco in release mode, by setting `<compilation debug="false" ... />` in the `web.config`, the backoffice JavaScript throws an error and in turn causes the "save and publish" buttons on content items to disappear.

When in release mode Umbraco bundles and minifies every asset in the backoffice via ClientDependencyFramework, it seems this is what's causing the issue.

The error in th

[2019-11-21 22:43] nathanwoulfe commented on #9
Ah, yes. `$compileProvider.debugInfoEnabled` must be set to false in release mode, which makes `.scope()` return null. Should be able to get the scope I need off editorState, hopefully.

This change was made to manage the inlining of directive templates - I'd previously used an interceptor to swap out the footer buttons html with my own markup, but needed an alternative when the template files wer

[2019-11-22 19:41] nathanwoulfe commented on #9
Get some v1.0.6 in ya guts - have had to do some disgusting scope traversal to get the editor form scope from the app, but it's disgusting and it works.

Bit annoying to lose extension points compared to Umbraco 7, but it is what it is.

[2019-11-25 09:30] callumbwhyte commented on #9
Looks like it's fixed, thanks!

Perhaps we need to PR some extension points / hooks into V8 for a better solution to this. I also had to override these recently and decided an interceptor was the only "nice" way...

[2019-11-25 09:30] #9 closed

[2019-11-25 10:20] nathanwoulfe commented on #9
Using a do...while loop to traverse up through parent scopes is not something I'm super proud of. Would be great to have a cleaner, saner way

[2019-11-25 23:05] nathanwoulfe commented on #8
@jenluong-deepend skip 1.0.5, I released 1.0.6 last weekend with a few more fixes and things

[2019-11-27 11:55] garethf89 opened #10 "Errors on approval"
Hi Nathan,

Just reporting a couple more errors when clicking 'Approve'. Everything else seems fine for me now, thanks for the work you have put in to get this working @nathanwoulfe

![Screenshot 2019-11-27 at 11 45 17](https://user-images.githubusercontent.com/5473451/69721423-b90ae480-110c-11ea-80c6-f8b7e666d910.png)
![Screenshot 2019-11-27 at 11 45 03](https://user-images.githubusercontent.com/

[2019-11-27 23:00] nathanwoulfe commented on #10
Hi @garethf89, couple of quick questions
- are you on v1.0.6?
- umbraco version?
- are those errors related?
- how can I reproduce?

[2019-11-29 14:21] garethf89 commented on #10
Hi @nathanwoulfe , yeah its 1.0.6 on 8.2.0.

I successfully created an approval group in the workflow section.

I go to Home node, the first error randomly occurs when clicking 'Request Publish' and then 'Request Publish' without or with a message.

The second one happens every time, when I click Approve.

This is all with a workflow group with only myself.

[2019-11-29 19:57] nathanwoulfe commented on #10
Has the group been assigned to the workflow on the home node?

Sounds like it's probably related to having a single group in the workflow, will have a dig and see what I find

[2019-12-03 09:02] garethf89 commented on #10
Yeah it has been assigned

[2019-12-03 12:37] nathanwoulfe commented on #10
Not sure how you'd be able to send for publish without a message - it's mandatory, so makes me think there's a JavaScript error. Second issue I've tracked down and will have a fix published this week - was related to checking for a culture on an invariant node.

[2019-12-16 21:08] nathanwoulfe commented on #10
@garethf89 have a run with v1.0.7, I'm pretty sure this is working correctly now.

[2019-12-16 21:09] #7 closed

[2019-12-16 21:09] #6 closed

[2019-12-16 21:10] #3 closed

[2019-12-17 15:39] garethf89 commented on #10
Thanks @nathanwoulfe, I can now approve the workflow but still get this error if I leave 'Describe the changes' empty.

![Screenshot 2019-12-17 at 15 37 51](https://user-images.githubusercontent.com/5473451/71010238-72912000-20e3-11ea-903b-4e74661fa4be.png)

[2019-12-17 18:50] nathanwoulfe commented on #10
I don't know how you're able to submit without a comment - the button should be disabled until a comment exists... Any console errors?

Steps to reproduce would be awesome

[2019-12-18 14:02] garethf89 commented on #10
Yeah there is no disabled state on the button. All seems good with a comment entered in the box though.

Steps:

Make Change on page,
Request Publish at the bottom
Request publish on next screen (no changes in the text box)
Error is shown

[2019-12-18 16:35] garethf89 commented on #10
i have upgraded to umbraco 8.4 now so that might have an impact on this

[2019-12-23 12:13] callumbwhyte opened #11 "Fails to submit for approval without comment"
When requesting approval to publish a content item, if you don't supply a comment the task doesn't get correctly saved. The comment field is not required in the UI.

Interestingly the task is still partially recorded as it shows in the "pending" count in the dashboard but isn't visible anywhere else...

Looks like a simple schema change is needed:

[code]

This is on Plumber v1.0.7 and Umbraco 8.4

[2019-12-23 12:23] callumbwhyte opened #12 "Workflow history preview link is wrong"
The "preview" link against tasks in the "Workflow history" dashboard (in the "Workflow" section) points to a path that no longer exists... `/umbraco/dialogs/preview.aspx?id=XYZ?cculture=`

The new preview URL is: http://h4h.local/umbraco/preview/?id=XYZ

However this seems inconsistent with elsewhere in Plumber, as on the "Workflow" dashboard (in the content section) links to the content item itse

[2019-12-23 23:16] nathanwoulfe commented on #11
Hey mate, you're not the first to raise this, but I can't replicate it - I can never submit for approval without entering a comment, the button is always disabled.

Must be something changing in the packaged version compared to running from source.

[2019-12-24 00:39] nathanwoulfe commented on #12
Yup, that should be a link to the content item. Have fixed, will be in the next release.

[2019-12-24 01:27] nathanwoulfe commented on #11
So. I run grunt-angular-template-embedding as part of the build, which replaces templateUrl references in components with the inlined template - reduces requests, less files shipped etc. For some reason, it's removing attributes off particular components, namely the umbButton and umbToggle directives, which means they never compile correctly so the state isn't set.

Hopefully it's a configuration

[2019-12-24 08:19] nathanwoulfe commented on #11
Fixed this in v1.1.0

[2019-12-24 08:19] #11 closed

[2019-12-24 08:19] nathanwoulfe commented on #12
fixed in v1.1.0

[2019-12-24 08:19] #12 closed

[2020-01-29 10:55] theotherpotter opened #13 "Request Publish button not available after save"
Using Plumber 2 v 1.1.1 and Umbraco v 8.5.1

I have a user who is able to update and request publish on nodes in the standard umbraco permissions.  When first opening a page the button drawer correctly states "Request publish" and correctly takes the user to the Workflow tab however when the page is saved the button reverts back to "Send for approval".

If I manually navigate to the Workflow tab a

[2020-01-29 11:39] nathanwoulfe commented on #13
v1.1.2 is queued now, will be up on nuget in 10 or so minutes.

Was a javascript issue, I needed to rebind the customised buttons after saving because Umbraco raises an event on save, which was causing the default buttons to rebind. Quick and easy fix, thanks for raising it 😃

Please close this once you've confirmed the updated version fixes the bug.

[2020-01-29 14:23] theotherpotter commented on #13
Thanks for looking at this so quickly! Unfortunately I'm getting the same issue after upgrading to 1.1.2.

[2020-01-30 01:06] nathanwoulfe commented on #13
I'm blaming Nadal and Theim's Australian Open match...

Have you done the obvious ones - empty browser cache, bump client dependency?

[2020-04-16 10:48] NikRimington opened #14 "Request errors when submitting/rejecting requests"
Hi Nathan,

I've just installed the latest (non-beta) release to an Umbraco 8.5.5 site and set up a test approval group.
When I submit a request I'm getting the following 3 pop-ups showing:

![image](https://user-images.githubusercontent.com/13313745/79447478-d109d480-7fd7-11ea-99de-d8d4e8710d8f.png)

This also happens when rejecting/resubmitting a workflow request.

[2020-04-16 10:52] NikRimington opened #15 "JS errors from Overview chart"
When clicking on one of the items at the top of the WorkFlow section of the site:

![image](https://user-images.githubusercontent.com/13313745/79448016-a8cea580-7fd8-11ea-9455-514bbfcf8ea9.png)

A white screen loads and a JS error occurs in the console error:

[code]

[2020-04-16 10:52] NikRimington commented on #15
Umbraco 8.5.5
Plumber 1.1.3

[2020-04-16 11:02] NikRimington opened #16 "Question: Should an explicit workflow still show inherited work flow?"
I've added an explicit workflow to a sub page of a root node (that has a workflow set on it)
However, on the Workflow content app, it still says it is using the inherited approval flow, should it not hide the section highlighted in red, if an explicit flow is set in the area highlighted in blue?

![image](https://user-images.githubusercontent.com/13313745/79448887-234bf500-7fda-11ea-9ef6-7e4b814d7

[2020-04-16 11:32] nathanwoulfe commented on #16
Hi @NikRimington, that's dodgy UI on my part - it will be applying the explicit workflow, the inherited one is shown only as an FYI. I'll update the header on the green card to include a badge with ACTIVE text, and similar on the inherited, with INACTIVE.

[2020-04-16 11:34] nathanwoulfe commented on #15
@NikRimington I'll confirm this is still an issue in the latest code - have revised that dashboard a bit, so hopefully no more error. I've removed the clickability of those header boxes, it didn't make sense to click through to a new chart when the existing view can be filtered by clicking the axes (I think...)

[2020-05-13 23:57] eickegao opened #17 "Where can I download the Plumber for Umbraco 8?"
Hi Nathan,
I tried to download the Plumber for Umbraco 8. But I can not find the build in this repo.

Could you share the download URL to me?

Thanks,
Gao

[2020-05-14 01:43] nathanwoulfe commented on #17
Hi @eickegao it's a nuget install only for v8, package is named Plumber.Workflow

[2020-05-14 03:39] eickegao commented on #17
Hi Nathan,
Thank you for the help.
Still have a question. I have an Umbraco 8 website. How could I install this workflow? Should I get the package from nuget and zip the file then install in the Umbraco 8? Never did that before.

Thanks,
Gao

[2020-05-14 12:57] eickegao commented on #17
Hi @nathanwoulfe
Thank you for the help.
Still have a question. I have an Umbraco 8 website. How could I install this workflow? Should I get the package from nuget and zip the file then install in the Umbraco 8? Never did that before.

Thanks,
Gao

[2020-05-14 13:00] Chris-N1 commented on #17
Hi @eickegao

To install via nuget you need to use Visual Studio to run the command that Nathan mentions - there are also instructions here:

https://www.nuget.org/packages/Plumber.Workflow

Hope that helps!

[2020-05-14 13:07] eickegao commented on #17
Hi @nathanwoulfe
I understand I need the nuget and vs to install this.
Do you mean I just need to install the Visual Studio and run the command in the VM which I has the existing Umbraco?
Because for Umbraco 7 I need to download the package and install that file in local. I have never run the command line to install the Umbraco 8 plugin.

Thank you for all the help.

Thanks,
Gao

[2020-05-14 13:24] Chris-N1 commented on #17
Hi @eickegao

You will need Visual Studio and your website loaded as a visual studio project; nuget is included with visual studio.

You can use the package manager inside visual studio to install packages from nuget.

If your site is only remote (e.g. if you only use Umbraco Cloud or your site is on remote hosting) then this might not be possible - you can't install a nuget package via Umbraco's

[2020-05-14 13:43] eickegao commented on #17
@Chris-N1
Thank you very much. I am also a developer. But I am new to Umbraco.
I have the website in the Azure VM. Here are what I need to do?
1 Install the VS in that Azure VM.
2 Load the website as the project.
3 install the plumber via the nuget.
4 compile that project and deploy it into the VM again.
Is that the right steps I need to follow? If yes I will start to work on it.

Thanks,
Gao

[2020-05-14 21:47] Chris-N1 commented on #17
Hi @eickegao,

Apologies for the delay, work is a bit manic right now. I've never used a VM in Azure for development, but if you have access to all of the required files then yes, that is what you would need to do; my own process for a new site (on my local machine) is usually:

1) Create a new empty ASP.Net project in Visual Studio
2) Install Umbraco via Nuget
3) Set up document types & views
4)

[2020-05-14 22:04] Chris-N1 opened #18 "Licensing not working"
We are running on Azure, in a multi web app configuration; we have a back office server set up for editing and 2 extra servers to take traffic from different places, but users cannot log on to the back offices for these servers

Plumber 1.2.0 beta-0344 is installed. (There was a bug in 1.1.3 which prevented us using it).

We only need the most basic functionality (3 approval groups, inherited expl

[2020-05-14 23:27] nathanwoulfe commented on #15
@NikRimington if you have a chance to install the latest nightly, this has been resolved.

[2020-05-14 23:28] Chris-N1 commented on #18
This appears to have resolved itself, although I frankly have no idea how or why - license is suddenly showing up again.

[2020-05-14 23:28] #18 closed

[2020-05-14 23:30] nathanwoulfe commented on #18
Glad to hear it - was mid-message when your comment dropped in. I'll check the licensing server, there may have been an outage at that end... Although that shouldn't matter, because the licensing server is only hit on generating the license and checking once a month that a valid subscription still exists...

Bit strange, but glad to hear it's working. Let me know if you track down the cause...

[2020-05-14 23:35] Chris-N1 commented on #18
It was rather strange - a couple of hours of swearing and restarting the back office and then suddenly it decided all was well.

There's definitely an issue in 1.2.0 with creating a license though - even locally, looking at the console there's an error that "form is not defined" if I move the .lic and .key files and try to create a new license:

![image](https://user-images.githubusercontent.com/4

[2020-05-14 23:56] nathanwoulfe commented on #17
I'll probably make a backoffice package available at some point, but there will be issues with managing dependencies (Plumber has a couple, easily managed with nuget, not so with a package).

[2020-05-15 00:18] eickegao commented on #17
If there is a package for install that will be great.

[2020-05-15 00:18] #17 closed

[2020-05-15 01:51] nathanwoulfe commented on #18
Ah, so there is - part of 1.2.0 is a full refactor to es6 modules, still finding a few places where I've missed syntax changes. Will sort this one

[2020-05-29 11:02] Chris-N1 opened #19 "Request Publish does not save content or warn; request unpublish missing"
Not sure if this is deliberate, but you can now request publish without saving; I think it might be related to permissions, as the request unpublish button also doesn't appear even if the user has the right to unpublish.

This means a user can easily make changes and submit them, but unless they click the "Save" button they'll just be submitting a blank set of changes - there's no warning that the

[2020-05-29 23:52] nathanwoulfe commented on #19
Hi Chris, definitely not intentional - users should still see the save button where permissions allow (currently not the case on the latest beta), which would alleviate (partially) issues with submitting dirty content, but I'll add a flag to check and auto-save content if it's dirty on submit.

Not related to permissions on your end, but due to me treating an object like a bool and therefore havin

[2020-05-30 00:45] nathanwoulfe commented on #19
Building now - have added auto-saving of dirty content when starting a workflow, plus fixed the missing save button. So can now be saved like normal, or left for workflow to manage internally.

[2020-05-30 13:42] Chris-N1 commented on #19
Thanks Nathan 👍  - the normal Umbraco Save button was there so users could still save content, but it was a bit easy to forget before submitting!

[2020-06-03 00:13] nathanwoulfe commented on #19
Should be all good now in 1.2 - have added dirty-checking when initiating a workflow, which will auto-save if the content has pending changes.

[2020-06-03 00:13] #19 closed

[2020-06-03 03:16] nathanwoulfe commented on #15
all sorted in v1.2. I think.

[2020-06-03 03:16] #15 closed

[2020-06-03 03:17] nathanwoulfe commented on #16
v1.2

[2020-06-03 03:17] #16 closed

[2020-06-03 03:18] #13 closed

[2020-06-03 03:18] #10 closed

[2020-06-08 22:50] nathanwoulfe commented on #14
@NikRimington I haven't been able to reproduce this one - try bumping to v1.2.0 and see if it persists. The undefined route param should be the guid identifying the workflow, not sure how that would be undefined when there's obviously an active workflow (given the success notification)...

[2020-06-08 22:53] nathanwoulfe opened #20 "Group inheritance"
Umbraco 8.7 makes group events public, so it will be possible to have Plumber groups inherit their membership from Umbraco groups. Events are necessary to track when the membership has been modified.

[2020-06-08 22:56] nathanwoulfe opened #21 "Comment templates"
From a request on Plumber Original Recipe - optional comment templates when initiating a workflow

These can be stored in the language files, aliased by workflow_commentTemplate_groupAlias (or something similar) to allow different templates for different groups, or different document types. Component can fetch the correct comment template via localization service, and inject as the default value i

[2020-06-08 22:59] nathanwoulfe opened #22 "Email templates"
Would be good to shift the email strings out into static files, which can then be modified to suit individual implementations. Don't really want these as compiled templates, but should be static text, with a set of keys that can be included to inject default values (group names, task status etc)

[2020-06-17 11:30] Jonroberts24Swansea opened #23 "User can not pay"
Hi
Our client, once finally logged into the CMS, is now getting this error (see attached image) when he is trying to pay:
"Now when I try to purchase the Plumber License and I click on the ‘pay’ button I get the following error before I have the chance to put in my card details."

Is he not doing something or is this an error your end?

Many thanks
Jon
![Plumber-error](https://user-images.githubus

[2020-06-17 21:32] nathanwoulfe commented on #23
Hey Jon, I'll have a look at this today.

Clicking pay _before_ entering card details sounds a bit odd - makes me think I might need to improve the UX (maybe disabling the button until the form is valid)

N

[2020-06-18 02:12] nathanwoulfe commented on #23
@Jonroberts24Swansea hold fire - I'm going to rework the whole payment flow, I'm not happy with how it works (overly complicated for me and for users). Will let you know when it's sorted.

[2020-06-18 08:22] Jonroberts24Swansea opened #24 "No Save button in latest version"
Hi,
We have installed the latest version of Plumber on our 8.6.2 CMS and the "Save" button has disappeared. All we see is "Preview", "Save and Publish" with three extra options (see image).
Is there a way we can see the Save button again? We did touch upon this a few weeks back but it looks like there may be an issue still.
I hope this is OK :)?

Thanks for all your amazing help,
Jon

![no-save](h

[2020-06-19 07:49] nathanwoulfe commented on #24
Hi @Jonroberts24Swansea, I can't reproduce this - tried logging in as an admin and a creator, on a new page with no workflow configured, and the save button appears correctly. Similarly on pages with workflow configured.

Have the user permissions been modified? Are there any errors logged to the browser console?

[2020-06-22 10:55] DaveGill82 opened #25 "Offline Approval Link - 404"
Hi Nathan, I’m evaluating Plumber on my local machine, I’ve configured the Site URL and Edit Site URL and set a group to allow offline approval. I receive an email but the offline approval link returns a 404, am I missing something?

Thanks,

Dave

[2020-06-23 13:22] mhersh82 opened #26 "Upgrade Issues?"
Hi Nathan,

We're currently in a trial mode with Plumber 2, on the verge of buying a long term license, but have run into issues with each of the last two updates.  Is it expected that new versions will usually break older versions?  We're on a sprint release cycle, so our posts don't happen daily, and thus we'd be stuck with production errors until our next release.  We're also allowing our clien

[2020-06-23 22:58] nathanwoulfe commented on #26
Hi @mhersh82 that error doesn't look to be related to any of the recent changes - error is thrown in GetContentNameById, so I'm guessing it's not managing cases where content no longer exists. I'll look into it.

As for the breaking changes in the 1.3.0 release, those were restricted to only the licensing view in the workflow section, they won't impact the rest of the application, or the functiona

[2020-06-23 23:05] nathanwoulfe commented on #25
Hi Dave - re the email I sent earlier, v1.3.4 should resolve these issues. Interested in how you fare with the offline approval, particularly if you're on Umbraco Cloud (seems to work fine locally/on-prem, but having token issues on Cloud, still working on it...)

[2020-06-24 03:57] nathanwoulfe commented on #26
Fix for this error will be in the next nightly, if you're able to install to verify - I've changed handling for deleted nodes to allow them to appear in history/charts.

Will release 1.3.5 in the next day or two.

[2020-06-24 06:04] DaveGill82 commented on #25
Hi Nathan,

I've upgraded to v1.3.4 and the offline approval link is working. I'm still having a few issues, i've listed the steps below, hope it helps. I'm not using Umbraco Cloud, we host it.

1. Logon on to Umbraco as Editor & make change (request approval) then Log Off
2. Click 'Offline Approval' Link in Email
3. Page Loads in Preview Mode
4. Click the 'Action Workflow' button
5. I get the err

[2020-06-24 06:28] nathanwoulfe commented on #25
That's actually a good result - it's the same error as I'm seeing on Cloud (the 417 invalid token), so at least it's consistent. Definitely sounds like the authentication bastardisation wasn't working correctly all the time, so fixing it should fix it everywhere.

I've pushed more changes to rewrite the old authentication approach, it's all working fine locally (not that that means much, given the

[2020-06-24 06:39] DaveGill82 commented on #25
Cheers Nathan, I'll check the new version, the invalid request error appears as an overlay.

[2020-06-24 06:49] nathanwoulfe commented on #25
Good to hear - it's definitely all related. Offline approval is trying to make Umbraco do things it was never suppose to do, hence these issues. I'm still confident it can be made to work, especially since it's ok when I run locally...

[2020-06-24 15:56] mhersh82 commented on #26
Thanks for the quick response, Nathan!  I'll try to give that a go later today.

[2020-06-25 07:56] Sjoerdson opened #27 "No notification on reject"
Hi,

We are currently testing your plugin and overall it works great. We only came accross one 'issue':

When an approver rejects the changes of an author, the author doesn't receive an e-mail notification. In all other cases (approval requested, cancel, approval), either the author or the approver get an e-mail notification, if enabled of course. Only in case of reject no notification seems to be

[2020-06-25 11:46] Chris-N1 opened #28 "Content not always saved when submitting"
A client has raised this one; they're using 1.2.1, but I've verified that the issue is still present in 1.3.4 locally.

When the user clicks "Request Publish" the message stating that the content has been saved pops up and the publish request is submitted to the approval group, but the document has not changed when it gets to the approval group - screenshots below:

Editing page (this is Nested Co

[2020-06-25 13:41] DaveGill82 commented on #25
I just tried the beta version, when i click 'Action Workflow' i get a msg...

"Current user does not have permission to action the workflow."

When i browse to the admin tool the offline approver has been logged in and can approve the change from there.

[2020-06-26 08:03] nathanwoulfe commented on #28
Hi Chris, this might actually be related to nested content - from memory, there's something funky going on with the way NC binds data. Could you check in a different, non-NC property and confirm that save does/doesn't happen correctly?

I vaguely remember a similar issue in Preflight, where checking dirty content wasn't flagging NC, might need to resolve this similarly...

[2020-06-26 08:04] nathanwoulfe commented on #25
You're not the only one seeing that exact behaviour. At least the login/auth is working correctly, else you'd not see anything in the overlay. I'll keep digging.

[2020-06-26 08:05] nathanwoulfe commented on #27
Hi @Sjoerdson thanks for letting me know - will be an easy fix, I'll include it in the next patch.

[2020-06-26 08:23] Chris-N1 commented on #28
Hi Nathan,

Thanks for the speedy response - I think you could be right; I tried it with another bog-standard RTE that's not part of an NC element and it was fine.

[2020-06-26 08:50] nathanwoulfe commented on #28
I guess that's a good thing 🙄

Pretty sure it's related to NC not actually dirtying the content form. I've dealt with it in other packages, will do the same here.

[2020-06-26 23:36] nathanwoulfe commented on #23
@Jonroberts24Swansea this should be fine now - I've completely re-done the payment flow and licensing model. It's all a lot simpler now 😄

[2020-06-26 23:36] #23 closed

[2020-06-27 00:40] nathanwoulfe commented on #25
@DaveGill82 found the problem - running Umbraco in release mode reproduces the issue. Not sure why, but I can see what needs fixing. Will have it in a nightly tonight/tomorrow.

[2020-06-28 01:49] nathanwoulfe commented on #28
Hi @Chris-N1

Definitely related to how nested content works - it only syncs back to the content model in certain scenarios, none of which were being triggered by Plumber saving the content.

It's not the most elegant solution, but it works: fix is to programmatically close any open NC panels, which triggers the sync handler and updates the content model. Bit clunky, but does the job.

This fix wi

[2020-06-28 09:05] Chris-N1 commented on #28
Thanks Nathan - I'll take a look and get the client to test in their UAT site tomorrow (it's Sunday morning here - kudos on your dedication to the cause!) :).

[2020-06-29 08:20] Chris-N1 commented on #28
Hi Nathan - that seems to have fixed it - I'll get the client to test in our dev environment, but it seems fine locally :)

Thanks,

Chris.

[2020-06-30 09:57] DaveGill82 commented on #25
@nathanwoulfe did you roll out a fix? i've test 1.3.5-beta-000390 and I'm getting the 417 error again when I log off after making the initial change.

[2020-06-30 22:10] nathanwoulfe commented on #25
When you log off as in out of the backoffice? Not after touching the offline approval view?

You're running the latest beta, where I thought everything was working correctly... Will have another look today

[2020-07-01 03:17] nathanwoulfe commented on #25
Hi @DaveGill82 I've had another dig into this, seems something changed in v8.5.5, related to a security issue in Client Dependency Framework. While I don't see an obvious link between that and the issue here, I can verify that the offline approval fails on 8.5.5, but works on earlier versions.

Tonight's beta/nightly has a further update to remove some Umbraco dependencies, which I've verified on

[2020-07-01 03:23] nathanwoulfe commented on #28
Excellent, glad to hear it - I'll have a proper 1.3.5 release out soon, trying to iron out a couple of other bugs first.

[2020-07-01 08:25] Chris-N1 commented on #28
Cool - there seems to be another unrelated issue at the moment, when I try to log in to the back office on our Dev site this error is occurring in the log that seems to stop the entire back office loading - this is the only message in the log. It's working locally so I assume it must be a configuration thing but I can't seem to find what I need to change....any clues?!

{"@t":"2020-07-01T08:22:36.

[2020-07-01 08:45] nathanwoulfe commented on #28
What's the hostname for the Dev site? Would you be able to share the license file?

There's an issue there with checking the licensed domain against the current hostname. Haven't seen that before though...

[2020-07-01 08:48] nathanwoulfe commented on #28
Quick fix too might be to rename the license file to test.lic - that should bypass the domain checks and prevent the error

[2020-07-01 08:56] Chris-N1 commented on #28
Hi Nathan,

Is there a way to message you privately? (I can't see a way here or on your website)

The name of the client is in the URL and they're a third-party's client and it's confidential (I know, I know - the joys of being freelance) - it's an azurewebsites.net domain though in case that helps.

I tried changing the license file name but it didn't make any difference :(.

[2020-07-01 09:14] nathanwoulfe commented on #28
sure - email to nathan@nathanw.com.au.

did you restart/recycle after renaming the file? need a restart to re-check the license. having said that, if it's not a paid license you should be able to delete the license completely, since 1.3.4+ uses a new licensing strategy...

[2020-07-01 09:18] Chris-N1 commented on #28
Aha - deleting the license files and editing the web.config to force a recycle seems to have done the trick!

Many thanks - I can ask the client to try testing the save changes now.

[2020-07-01 09:32] nathanwoulfe commented on #28
Happy days. Always good to fix issues by deleting stuff 😄

[2020-07-03 07:18] #28 closed

[2020-07-03 07:18] nathanwoulfe commented on #27
Fixed in v1.3.5

[2020-07-03 07:18] #27 closed

[2020-07-03 07:19] nathanwoulfe commented on #26
Next day or two became 9 days (had some betas in between 😄 )

1.3.5 is building now.

[2020-07-03 07:19] #26 closed

[2020-07-03 07:20] nathanwoulfe commented on #25
I'm confident (famous last words) this is working on v.1.3.5, which is building now.

[2020-07-03 07:20] #25 closed

[2020-07-06 10:19] Chris-N1 opened #29 "Plumber says it's out of date after installing 1.3.5"
I don't suppose this matters in terms of functionality but thought you might like to know - after installing 1.3.5 I got this message on the Workflow tab:

![image](https://user-images.githubusercontent.com/46811766/86583097-9716f180-bf7a-11ea-8d4c-64ea894803bc.png)

[2020-07-06 21:31] nathanwoulfe commented on #29
That's my bad - typo in the release tag, it's fixed now. That value is fetched from the repo and cached for six hours, so will update eventually.

[2020-07-06 21:31] #29 closed

[2020-07-08 10:25] BArtistically opened #30 "Getting node id from TasksService"
Hi Nathan,
I was wondering how to get the node id of the document when using the TasksService
[code]
The WorkflowInstance is null and via the e.Task.WorkflowInstanceGuid property I can't look it up in the database the first
time because it doesn't exists. Shouldn't it be available?

Is it also possible to clean cancel the 'approve' as we need to not publish it yet but set a status to 'ready for pu

[2020-07-10 00:58] nathanwoulfe commented on #14
This should be ok in the latest version - never found a cause, but saw not issues in testing for the 1.2/1.3 releases

[2020-07-10 00:58] #14 closed

[2020-07-10 01:19] nathanwoulfe commented on #30
Hi @BArtistically

Looks like what's happening is the Created event is raised when the new Task is persisted - which can happen before its related WorkflowInstance is persisted (in the case of a new workflow, the Instance is created, the first Task is created and persisted, the Instance is updated and finally persisted). On an existing workflow you'd be able to get the Instance from the Guid becau

[2020-07-10 10:39] BArtistically commented on #30
Hi Nathan,

Thank you for responding so fast. Yeah, it would be nice to have the workflowinstance filled in on the created task.
For the cancelling, sorry, i don't have a log/trace but that's exact what you described. It gives a UmbracoOperationFailedException and the screen doesn't get updated anymore so I was stuck there.
For now, i had to make a workaround not using Plumber for the 'ready for p

[2020-07-13 10:55] Chris-N1 opened #31 "Missing "Request Unpublish" button"
Hi Nathan - sorry, me again!

Since 1.2.0 or so the "Request Unpublish" button has vanished; I'm not sure if this is to do with our configuration, but our settings seem to be OK and haven't changed since we migrated from version 7.

We have an "Editors" group that looks like this:
![image](https://user-images.githubusercontent.com/46811766/87296764-2b470280-c4ff-11ea-9b25-b0921afde041.png)

In the

[2020-07-13 11:29] charlenevas21 opened #32 "Plumber licenseing Issue"
![Capture](https://user-images.githubusercontent.com/39157448/87299513-0ef99480-c504-11ea-95d9-10fceaf641c2.PNG)

Hi Nathan,

I've upgraded plumber to the latest release (v1.3.6) and I'm getting this error. If i try to go to the licensing tab - it gives me a 404 error  - undefinedplans.

The license file is in the plumber folder but its still giving me this error.
![Capture](https://user-images.gi

[2020-07-13 20:05] nathanwoulfe commented on #32
Hi Charlie

Might be a caching issue - that modal doesn't exist in the latest codebase so should not be displayed.

You can delete the old license and key file too (unless it's a paid license, of course). Latest version doesn't require either (unless it's a paid license, of course).

[2020-07-16 06:23] nathanwoulfe commented on #31
Hi Chris

All good, I appreciate the feedback - I can reproduce this using the settings from the screenshot. I'm planning on a 1.3.7 release this week, so won't be far away.

N

[2020-07-16 06:27] nathanwoulfe commented on #31
Knew it wouldn't be major - have fixed it, will be in tonight's nightly if you feel like verifying, otherwise will be in 1.3.7

[2020-07-16 08:03] Chris-N1 commented on #31
Excellent, thanks Nathan - I'm hoping Umbraco 8.6.4 will be out by next week, so I can push some of the fixes in that to Live at the same time as 1.3.7, but I'll grab this build and test it locally and in the Dev environment in the meantime :).

[2020-07-16 08:25] nathanwoulfe commented on #31
Sounds like a plan - 1.3.7 beta is on NuGet now. Let me know how you go.

[2020-07-16 08:59] Chris-N1 commented on #31
Thanks Nathan - all seems good, have asked the client to do some testing :).

[2020-07-17 10:46] charlenevas21 commented on #32
Hi Nathan,
Got it sorted.
I unistalled the plugin and then installed it again.

[2020-07-17 10:46] #32 closed

[2020-07-19 02:01] nathanwoulfe commented on #30
@BArtistically I've published a patch (1.3.7, on NuGet now) which should resolve this - Plumber shouldn't raise an error when the publish is cancelled, only if the publish fails. Also adds a status for those workflow instances, to mark them as cancelled by a third party. NodeId is now available on the WorkflowInstance and WorkflowTaskInstance models, and event are raised at more appropriate times.

[2020-07-19 02:01] #30 closed

[2020-07-19 02:02] #31 closed

[2020-07-19 02:14] nathanwoulfe commented on #24
Hi @Jonroberts24Swansea this should be resolved in 1.3.7. I still wasn't able to reproduce it, but the changes in the latest version remove a lot of my customization of the footer buttons, to only inject the new bits rather than replacing the entire view. Looks to be all good in my testing.

[2020-07-19 02:14] #24 closed

[2020-07-28 10:07] lhall690 commented on #25
Hi Nathan, just wanted to check this feature is working in the latest release? Just working out whether to recommend or not, as I had some issues I was never ever to resolve with Plumber 1 in offline approval. Cheers

[2020-07-28 10:25] nathanwoulfe commented on #25
@lhall690 as far as I'm aware it's working... Released these changes a few patches ago and haven't heard anything to indicate that it's not working.

It's potentially always going to be fragile, because it probably shouldn't work - although the last changes did simplify the identify stuff quite a bit, so it's perhaps more robust now.

So long story short, it's working, as far as I'm aware 😁

[2020-07-28 15:15] lhall690 commented on #25
Great! Glad to hear it :)

[2020-08-06 08:03] Sjoerdson opened #33 "Window for comparing changes is a little to small"
Hi Nathan,

Recently we installed your plugin for one of our clients and overall they are very satisfied! One thing thats a little inconvenient is the window where a reviewer can compare the changes (old vs new): The window that appears is a little too small, especially if the changes involve large texts (see image below). So, it would be more convenient if this window would be wider or if the use

[2020-08-06 08:18] nathanwoulfe commented on #33
Hi @Sjoerdson that's a good point, and easily changed. I'll include it in the next patch release.

No ETA for that as yet, working through some performance improvements so want to take the time to get those right.

[2020-08-07 00:35] nathanwoulfe commented on #33
@Sjoerdson this will be in the next nightly (will be on NuGet in 8 hours from the time of this comment). I've bumped it up to use the medium-width overlay, not sure why I ever thought small was appropriate...

[2020-08-07 00:35] #21 closed

[2020-08-07 06:44] Sjoerdson commented on #33
@nathanwoulfe Thats perfect. Thanks for your dedication.

[2020-08-10 19:04] lordscarlet opened #34 "No content action"
Caveat: We have an unusual build process that complicates matters. I can explain if needed.

When I attempt to go to the actions for a node, I expect to see "Workflow" as an option, so that I can setup workflow for that node (and it's children). That is how I recall it working in Plumber v1. However, when I do so, I see no such action.

![image](https://user-images.githubusercontent.com/17951/8982

[2020-08-10 19:07] lordscarlet commented on #34
Found it, I apologize.

![image](https://user-images.githubusercontent.com/17951/89820539-2cc61380-db1b-11ea-8a3c-caf1d24d6ab3.png)

[2020-08-10 19:07] #34 closed

[2020-08-10 22:50] nathanwoulfe commented on #34
All good @lordscarlet, v8 version is all about that content app 😄

[2020-08-10 23:33] lordscarlet commented on #34
I may have other questions coming up, is issues the best place to put them? Some are unfamiliarity with the UI, some are how to either role my own enhancements via events or possible feature requests.

[2020-08-10 23:46] nathanwoulfe commented on #34
Absolutely toss them in issues - good for visibility for others too.

Happy to help wherever I can.

[2020-08-11 13:24] lordscarlet commented on #33
How do I get to this dialog?

[2020-08-11 13:56] lordscarlet opened #35 "File attachment on workflow initiation"
Our specific requirements specify that an item submitted to be published needs to have an attached file (approval documentation from an external system). I am trying to figure out the best way to do this. Right now I have these options in mind:

1. I am thinking I may be able to do this by subscribing to an event and make it work, but I haven't done that yet with Umbraco. All of the quick document

[2020-08-13 00:04] nathanwoulfe commented on #35
It's currently possible to add a template to the initiate workflow comment field - the template is defined in language xml file (so that it's easily localized). Simple formatting only given it's a textarea.

It would be possible to add a feature for attaching documents to a workflow process, it's not on my priority list at the moment though, and would likely not be until after Umbraco 8.7 is relea

[2020-08-13 00:35] lordscarlet commented on #35
Sounds good. I may have to figure out how to hijack things in the meantime.
I appreciate the follow-up, though. Worst case I will just out a property
on my doc types in the short term.

On Wed, Aug 12, 2020, 8:04 PM Nathan Woulfe <notifications@github.com>
wrote:

[2020-08-17 15:53] ThomasHerckenrath opened #36 "When I request approval and go to another page, umbraco asks me if I want to stay or discard changes, but the changes are already saved."
Hi!

When I make some changes on a page and request approval, the current page will be saved and is put into a workflow, so it can be approved. If I go to another page after doing this, Umbraco asks me if I want to stay or discard the changes made to the page. Is it possible to not show this pop-up? It doesn't make sense in this case, because the changes to the page are already saved by submitting

[2020-08-18 06:06] nathanwoulfe commented on #36
Hi @ThomasHerckenrath

I thought I'd fixed that! Will double check in the latest code, and include it in 1.3.9 if it's still an issue. It stems from how the content form is managed when it's saved - when the save is triggered from the Plumber content app, it seems like the form state doesn't reset correctly... Good times.

[2020-08-19 12:38] lordscarlet commented on #36
Anecdotally I have definitely seen this as well, but I haven't taken the time to reproduce and be sure when it happens.

[2020-08-24 10:31] MagicMetaMike opened #37 "Input string was not in a correct format."
I get the following in the content tree after setting up a workflow for a specific document type in Umbraco  8.4.0

Stacktrace
at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)
   at System.Number.ParseInt32(String s, NumberStyles style, NumberFormatInfo info)
   at Plumber.Web.Components.ContentEventsComponent.<>c.

[2020-08-24 11:02] nathanwoulfe commented on #37
Pretty sure that's fixed in the latest nightly, if it's the issue I think it is. Try setting a node as excluded, that should resolve it.

I'm assuming here too that your using the test license to enable all features on local?

[2020-08-24 21:09] nathanwoulfe commented on #37
@MetaGraphicMark the issue I'm thinking of was fixed in 1.3.8. Which version are you using?

[2020-08-28 09:25] Chris-N1 opened #38 "404 is generated when a user "Requests Publish" on a newly created document without saving"
This isn't a big issue at all as most people probably save as they're going along anyway, but just for the sake of consistency :).

If a user creates a new document and then clicks "Request Publish" without saving the document first a 404 error bar is generated.

Steps to reproduce the behavior:
1. As a user with permission to create a document and request publish, create a new document
2. Click o

[2020-08-28 09:41] nathanwoulfe commented on #38
Thanks @Chris-N1, that's a bit of a strange one, I thought the workflow app wasn't displayed on new, unsaved nodes... That's the intention at least, workflow shouldn't be available at all until the node has been saved.

Will fix it up for the next release, which is now feeling a bit overdue.

[2020-08-28 22:33] nathanwoulfe commented on #38
@Chris-N1 this needs to work a little differently - it's not possible to allow submitting into the workflow without saving the page first, as there may not be workflow configured for the node. Given that depends on the node having an ID, the config can't be set until the node has been saved, so will need to be two steps - save, then configure workflow.

[2020-08-28 23:13] nathanwoulfe commented on #36
Was missing some magic - `this.$element.inheritedData('$formController').$setPristine();` gets the content form and sets the state back to pristine after saving.

Will be properly fixed in 1.3.9.

[2020-08-28 23:48] nathanwoulfe commented on #36
Should be resolved here => [Plumber_1.3.9-beta-000416.zip](https://github.com/nathanwoulfe/Plumber-2/files/5144499/Plumber_1.3.9-beta-000416.zip)

Will fire off a proper release soon.

[2020-08-28 23:48] nathanwoulfe commented on #38
Should be resolved in the beta => [Plumber_1.3.9-beta-000416.zip](https://github.com/nathanwoulfe/Plumber-2/files/5144501/Plumber_1.3.9-beta-000416.zip)

[2020-09-01 07:54] Chris-N1 commented on #38
Thanks Nathan - it was a bank holiday here yesterday so only just seen this. We're in the middle of testing Umbraco 8.6.4 with Plumber 1.3.8 but we'll upgrade to 1.3.9 as soon as it's released - I'll test this separately in the meantime 👍

[2020-09-11 20:17] lordscarlet opened #39 "Closing out of add member and saving group creates bad data"
When adding members to a group, if you choose a member but then close without submitting, but still save the group, bad data is added to the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Workflow Approval Groups
2. Click on a group
3. Click Members
4. Click Add
5. Search for a user
6. Select a user that is not currently a member of the group
7. Click Close
8. Click Save on

[2020-09-12 07:31] nathanwoulfe commented on #39
@lordscarlet I noticed this yesterday when starting some related changes for v1.4 - depending on how long that takes me to get sorted, I might need to release another patch in the interim. Issue is caused by the dialog taking the currently selected users as the selection parameter, rather than being sent a copy of the selected groups. Because it's a direct reference, selecting in the overlay updat

[2020-09-15 01:27] nathanwoulfe commented on #33
@lordscarlet this is displayed in the workflow app, at the top of the change description card. It's a licensed feature so won't be available without either a legitimate license, or a test license on a non-prod domain

![image](https://user-images.githubusercontent.com/3248070/93154187-61467400-f746-11ea-8ac7-5bc8f545739e.png)

[2020-09-15 01:27] #33 closed

[2020-09-15 01:27] nathanwoulfe commented on #20
Doing this differently, without 8.7 dependency

[2020-09-15 01:28] #38 closed

[2020-09-15 12:35] lordscarlet commented on #33
@nathanwoulfe ah, that's why I don't see it. Not running on localhost and don't have a license yet.

[2020-09-15 19:09] AaronSadlerUK opened #40 "Ability to unpublish with no approval"
It would be nice to allow users to unpublish nodes without requesting approval.

It would be even better to be able to set this per document type or node (depending on preference)

Our client only requires approval for publishing content items.

[2020-09-15 23:25] nathanwoulfe commented on #40
Hi @AaronSadlerUK, this now has me thinking - would be cool to be able to assign a different workflow for publish and unpublish, so a given node may have a publish workflow but no unpublish, or unpublish but no publish, or different options for both...

Code already identifies publish vs unpublish workflow, so would be an additional db column to tag a workflow step as publish or unpublish, then mo

[2020-09-18 06:53] nathanwoulfe commented on #35
Hi @lordscarlet just an FYI - v.1.4.0 will include document attachments when initiating a workflow. Will be leveraging the default Umbraco media picker, so user will be able to either select an existing doc or upload their own. The reference to the selected document will be passed through the rest of the workflow stages.

Should be out next week (all going to plan) but beta will be on nuget in a c

[2020-09-18 06:55] nathanwoulfe commented on #20
and done for v1.4.0

[2020-09-21 00:34] #36 closed

[2020-09-21 00:40] nathanwoulfe commented on #36
This has been fixed as part of 1.3.9

[2020-09-21 00:45] nathanwoulfe commented on #37
@MetaGraphicMark any update on this? Please close if the issue was resolved by upgrading to the latest version.

[2020-09-24 16:30] AaronSadlerUK opened #41 "Possible to publish on Info tab"
It is possible to Save and Publish a node by clicking the content tab, bypassing the workflow entirely.

To do this I created a test user with editor permissions and click on the info tab, this reveals the save and publish button

[2020-09-24 16:33] AaronSadlerUK opened #42 "Unable to approve item"
I have created a test user with editor permissions.

I have added this user to an approval group, I have set the document type to use this approval group.

In essence this should allow the user to approve their own items on this specific document type, it shows on the "Tasks requiring my approval" box, however the approve and reject buttons are not visible on the item

[2020-09-24 19:25] nathanwoulfe commented on #42
Hi @AaronSadlerUK

Couple of queries from me:
- in the workflow settings, is the flow type Explicit?
- are the buttons missing in the workflow detail overlay?

If flow type is not explicit, the user shouldn't ever see the tasks, so the issue isn't buttons missing, it's tasks appearing...

If the buttons are in the overlay, we're all good - the dashboard view only has the single button to open the

[2020-09-24 19:27] nathanwoulfe commented on #41
Hi @AaronSadlerUK, I'm pretty sure this is resolved in the next release - I use signalr to broadcast some state changes, but it doesn't always seem to work. Have revisited it as part of other changes.

Will confirm and let you know

[2020-09-24 19:31] AaronSadlerUK commented on #42
Yes the workflow type is explicit

[2020-09-24 19:37] AaronSadlerUK commented on #42
Below are some screenshots to help:

It shows on the pending tasks box
![image](https://user-images.githubusercontent.com/9937803/94191443-6b364880-fea5-11ea-86e6-a6c905955cdb.png)

But when you click details, the approve button is missing:
![image](https://user-images.githubusercontent.com/9937803/94191536-8acd7100-fea5-11ea-8b51-051bdc9767bb.png)

As mentioned this user (as it's restricted as do

[2020-09-24 19:38] AaronSadlerUK commented on #41
Ok cool, screenshots below just as reference:

![image](https://user-images.githubusercontent.com/9937803/94191741-e435a000-fea5-11ea-991f-bc483222f032.png)

Info tab:
![image](https://user-images.githubusercontent.com/9937803/94191778-f44d7f80-fea5-11ea-9e0c-64746b19fadf.png)

[2020-09-24 19:47] nathanwoulfe commented on #42
Ta, that's helpful. Won't be anything major, bit of busted javascript not setting the correct buttons.

Which version are you on?

[2020-09-24 19:49] AaronSadlerUK commented on #42
v1.3.9

[2020-09-25 10:19] MagicMetaMike commented on #37
@nathanwoulfe sorry Nathan, been afk for a month. Yes updated and all resolved, great work, keep it up mate, we all appreciate it!

[2020-09-28 09:00] AaronSadlerUK commented on #41
@nathanwoulfe Any updates on this?
It's a blocker for the client to go live, as you can appreciate having paid 900EUR they are being pushy

[2020-09-28 09:00] AaronSadlerUK commented on #42
@nathanwoulfe Any updates on this?
It's a blocker for the client to go live, as you can appreciate having paid 900EUR they are being pushy

[2020-09-28 09:02] nathanwoulfe commented on #41
It looks to be all good in latest (1.4.0) - I'd like to get that out this week, but the nighty is available and solid.

Will try to get some time on it tomorrow

[2020-09-28 09:09] nathanwoulfe commented on #42
Haven't been able to reproduce on 1.4.0, buttons are all present and accounted for.

If the node has a workflow configured that will take priority over the document type config, that may be the issue here?

Will see too if I can add a setting for excluding doc types from workflow, that's probably a cleaner way to manage this scenario - excluding a content type would fall back to the default Umbrac

[2020-09-28 09:40] AaronSadlerUK commented on #42
It only has an inherited workflow.
I agree excluding the documenttype from the workflow would be the best route here, as that is pretty much what I am trying to achieve.

3 document types (for the client they are course events) are to be excluded from the workflows, everything else needs approval.

I have added more screenshots to help with this

![image](https://user-images.githubusercontent.com/

[2020-09-28 09:51] nathanwoulfe commented on #42
I guess the benefit to keeping it in the workflow is the change history is kept in the one place, with comments against the changes.

I'll get the buttons sorted for 1.4.0, then look at excluding types for 1.4.1/1.5.0. If you're able to bump up to the nightly and check the buttons, that would be a huge help too.

[2020-09-28 09:59] AaronSadlerUK commented on #42
I will bump the version shortly.

Thanks!

[2020-09-28 10:34] nathanwoulfe commented on #42
Will kick off a new build shortly too - just merged some additional stuff, allowing workflows to apply to publish only (falls back to default Umbraco permission for unpublish).

[2020-09-28 12:58] AaronSadlerUK commented on #42
I have installed 1.4.0-beta-000430, and the Workflow content app is broken:
![image](https://user-images.githubusercontent.com/9937803/94435123-a335d800-0192-11eb-96c2-466771e9a6e7.png)
![image](https://user-images.githubusercontent.com/9937803/94435177-afba3080-0192-11eb-973b-40dd01f3db97.png)

[2020-09-28 20:35] nathanwoulfe commented on #42
I've just now installed into a test site, didn't see this issue - possibly browser caching the old backoffice js?

Found a couple of minor things that need fixing too, gotta love an undocumented breaking change in Umbraco 😄

[2020-09-28 20:54] nathanwoulfe commented on #42
Also probably makes a difference if I update my test site to 8.7... 🤷

[2020-09-28 21:30] nathanwoulfe commented on #42
Annnnd have published a new beta - 000431 - which I'll give a proper shakedown shortly.

[2020-09-29 08:50] AaronSadlerUK commented on #42
I have installed 000432, all seems to work perfectly :)

[2020-09-29 08:50] AaronSadlerUK commented on #41
This seems to work perfectly on 000432

[2020-09-29 09:21] nathanwoulfe commented on #42
Niiiiice - I'll get a release out tomorrow

[2020-09-29 11:20] AaronSadlerUK commented on #42
@nathanwoulfe Just found another problem.

If you change the template for a content item, and then request approval it triggers a 404 error

![image](https://user-images.githubusercontent.com/9937803/94552032-2c5e1500-024e-11eb-9116-77e8fb6929c3.png)

[2020-09-29 21:45] nathanwoulfe commented on #42
@AaronSadlerUK that will be because none of the content is dirty, so no variants are flagged for saving. Won't be a big deal to fix.

[2020-10-01 15:46] AaronSadlerUK commented on #42
So I have installed 0433 and I am still having the same issue where if I change the content template and press save I get a 404 error.

Also I am now unable to configure workflow in the content app, I get the following error:
![image](https://user-images.githubusercontent.com/9937803/94832239-90770980-0405-11eb-8260-23edfc728b2e.png)

I wonder if it will be easier to have a Slack call regarding th

[2020-10-01 19:05] nathanwoulfe commented on #42
@AaronSadlerUK is this a new node? Is it multi-variant? Is the error throwing when the node loads or only when accessing the config section?

[2020-10-01 19:09] AaronSadlerUK commented on #42
All the content nodes are pre-existing, all I have done is update the plugin to the latest beta.
The tab worked fine on earlier releases.

As for the 404 again all pre-existing content.

Nothing new.

[2020-10-01 21:35] nathanwoulfe commented on #42
@AaronSadlerUK I'm able to reproduce this on a new invariant node, permissions object is missing since no permissions exist. That object should be an empty scaffold.

[2020-10-02 05:56] nathanwoulfe commented on #42
Latest beta fixes it - I was returning different config models depending on the node state, one was missing a couple of properties, hence the errors.

[2020-10-02 08:12] AaronSadlerUK commented on #42
Ah ok.

Please let me know when you have published the latest beta so I can continue testing

[2020-10-02 08:22] nathanwoulfe commented on #42
Should be available now, I pushed it a few hours ago, but seems to not be on NuGet...

[2020-10-02 08:32] AaronSadlerUK commented on #42
Strange, probably being indexed / approved.
Did you remember to click the list box?

[2020-10-02 08:42] nathanwoulfe commented on #42
Was a DevOps issue - I need to update the build to generate snupkg rather than symbols.nupkg, and what I thought was a working build (all green ticks) was actually not pushing anything to NuGet. Reverted some bits, building now.

[2020-10-02 09:40] AaronSadlerUK commented on #42
Ok got there!
For some reason I had to manually copy the files from packages and into the actual website.

I can confirm that I can now self approve
I can confirm that I can change the content template
The error no longer happens in the console

Just one improvement (If not by design, but not very user friendly)... If you self approve an item, the request publish button disappears until you refres

[2020-10-02 23:39] nathanwoulfe commented on #42
Yeah, that's a bit shit - I've fixed it, building now. Buttons refresh was only happening on non-workflow content apps, but if you're on the workflow app and complete an action which changes the buttons, that wasn't being bound. Should be all good in the fresh beta.

Will poke it all a bit more over the weekend, then bundle up the 1.4.0 release. Thanks for your patience, and for helping track down

[2020-10-06 02:50] nathanwoulfe commented on #40
v1.4.0 adds a global option to enable/disable unpublish workflows, plus node/content type option to do the same - user can disable unpublish for the whole site, or per node/content type

[2020-10-06 02:50] #40 closed

[2020-10-06 02:50] nathanwoulfe commented on #39
Resolved in 1.4.0

[2020-10-06 02:50] #39 closed

[2020-10-06 02:50] nathanwoulfe commented on #41
Annnnd released in 1.4.0

[2020-10-06 02:50] #41 closed

[2020-10-06 02:51] nathanwoulfe commented on #42
1.4.0 is out, so I'll close this issue - anything new related to this change can be a new issue.

[2020-10-06 02:51] #42 closed

[2020-10-06 02:52] nathanwoulfe commented on #35
Next week became 18 days, but 1.4.0 is out now, including this shiny new feature.

[2020-10-06 02:52] #35 closed

[2020-10-06 02:52] #20 closed

[2020-10-06 08:58] AaronSadlerUK commented on #42
Perfect thanks!

[2020-10-06 09:01] AaronSadlerUK opened #43 "Plumber licence removed after deployment"
When deploying a website containing plumber between environments on Umbraco Cloud (possibly elsewhere, I haven't tried), the licence needs re submitting every time, as it seems to forget about the licence even though the files are on disk.

This is even the case when the release has nothing to do with plumber.

The license has been entered manually onto each environment:
Local Dev
Umbraco Cloud De

[2020-10-06 09:17] AaronSadlerUK opened #44 "Unable to create new content item"
I am unable to create any new content items regardless of their workflow configuration.

This on the latest v1.4.0 version.

All I get is a 404 error when clicking the request publish button.

It is possible to update an existing content item however.

This happens in both Explicit and & Implicit modes:

![image](https://user-images.githubusercontent.com/9937803/95182864-122bb600-07bd-11eb-96c7-da

[2020-10-06 09:23] AaronSadlerUK opened #45 "Console error - signalr 403"
When logged in as an editor which is in an approval group, when you click request publish signalr returns a 403 error:

![image](https://user-images.githubusercontent.com/9937803/95183454-e957f080-07bd-11eb-9ffd-1e0710e17120.png)

[2020-10-06 09:25] AaronSadlerUK opened #46 "Console error when approving"
When a user logged in as an editor clicks approve after requesting publish there is an error logged in the console:

![image](https://user-images.githubusercontent.com/9937803/95183706-40f65c00-07be-11eb-81ff-2e757d6823f9.png)

[2020-10-06 09:26] nathanwoulfe commented on #44
I have a feeling that is due to the new node not having an id when calling the save endpoint.

Probably should be hiding the workflow app until the node has been saved, which would prevent this from ever being possible...

[2020-10-06 09:29] nathanwoulfe commented on #46
I noticed that earlier, ignored it because I was on latest Umbraco source and figured it was unrelated to Plumber. Possibly caused by show/hide logic on the footer buttons

[2020-10-06 09:32] AaronSadlerUK commented on #46
Possibly, This site is running on 8.6.5

[2020-10-06 09:36] AaronSadlerUK commented on #44
A new node would still need this to log why it was created in the first place surely?

[2020-10-06 09:47] nathanwoulfe commented on #44
Would still be workflowed for publishing, but not for the initial save of the new node. I'll have a look at why it's happening, this would be the last resort

[2020-10-06 09:52] AaronSadlerUK commented on #44
Ah ok that makes sense 👍

[2020-10-06 13:32] AaronSadlerUK commented on #44
@nathanwoulfe Many thanks for your quick work!

I can confirm this is no longer an issue in v1.4.1-beta-000455

[2020-10-06 13:32] AaronSadlerUK commented on #46
I can confirm this is no longer an issue in v1.4.1-beta-000455

[2020-10-06 13:33] AaronSadlerUK commented on #45
I can confirm this is no longer an issue in 1.4.1-beta-000455

[2020-10-06 13:33] AaronSadlerUK commented on #43
I can confirm this is no longer an issue in 1.4.1-beta-000455

[2020-10-07 12:16] AaronSadlerUK opened #47 "Preview button on details window"
My client has requested would it be possible to add the preview button onto the details window, so that they can see the changes visually.

See my screenshot below:

![image](https://user-images.githubusercontent.com/9937803/95329702-4d061a80-089f-11eb-8bca-eb3aa84b137a.png)

[2020-10-07 22:46] nathanwoulfe commented on #47
Hi @AaronSadlerUK, I see no reason why not - might need to consider how that works alongside the inline diff button on the change description card, both buttons should really be co-located.

Absolutely do-able though.

[2020-10-09 04:33] nathanwoulfe commented on #45
Fixed in 1.4.1 🚀

[2020-10-09 04:33] #45 closed

[2020-10-09 04:33] nathanwoulfe commented on #44
Fixed in 1.4.1 🚀

[2020-10-09 04:33] #44 closed

[2020-10-09 04:34] nathanwoulfe commented on #46
Fixed in 1.4.1 🚀

[2020-10-09 04:34] #46 closed

[2020-10-09 04:34] nathanwoulfe commented on #47
I've included this in 1.4.1, which is available now - a useful addition, thanks for the suggestion.

[2020-10-09 04:34] #47 closed

[2020-10-09 08:56] #43 closed

[2020-10-23 10:07] SRandomName opened #48 "Sqlexception on installing plumber-2"
**Describe the bug**
A clear and concise description of what the bug is.
`Umbraco.Core.Exceptions.BootFailedException: Boot failed.

-> System.Data.SqlClient.SqlException: Invalid column name 'AllowAttachments'.
Invalid column name 'RequireUnpublish'.
  at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
  at System.Data.SqlCl

[2020-10-23 11:20] nathanwoulfe commented on #48
Hi @SRandomName, thanks for raising this - will be happening on all new installs of the latest version. Issue is caused by attempting to populate the settings table with a default entry as part of a migration.

Issue is this:
- migration OneZeroZero creates the settings table, using SettingsSchema to define the table
- migration then adds a default entry to the settings table, using WorkflowSettin

[2020-10-23 11:33] SRandomName commented on #48
Hey @nathanwoulfe, Thank you for your quick reply and fix !

[2020-10-23 11:48] nathanwoulfe commented on #48
No worries at all, glad it wasn't anything major to fix.

[2020-10-23 11:48] #48 closed

[2020-10-26 09:15] Chris-N1 opened #49 "Selecting an action on initiate workflow page does not update action"
**Describe the bug**
If you use the dropdown button on the initiate workflow page it does not change the submitted action.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the "Request Publish" or "Request unpublish" button on a page
2. On the "initiate workflow" page, select some other action
3. Log off and then Log on as a user who can see the publish request
4. The request will ha

[2020-10-27 11:36] piotrkrajewskicn opened #50 "Wrong approval flow sequence"
Hi!

I'm new to the plugin so it might be just me but it seems like quite a clear bug to me.

I have a page in 2 languages: English and Swedish. I created a separate approval flow for each of them, using 3 groups in total.
The settings look like this respecitvely for the English and the Swedish versions:
![image](https://user-images.githubusercontent.com/40027605/97294708-a3d39400-184e-11eb-8d05-f

[2020-10-27 19:20] nathanwoulfe commented on #50
Hi @piotrkrajewskicn that certainly looks like a bug - the assigned permission step in the JSON screenshot is reversed.

Are you able to confirm if that's also the case in the database? Table name is WorkflowUserGroupPermission, there will be a row per assigned workflow permission, so for node 1057, eng management should be 0, global should be 1. That will help narrow down where the issue is happe

[2020-10-27 21:32] nathanwoulfe commented on #50
@piotrkrajewskicn looks like the permission index isn't being updated when the items are sorted in the ui - I can reproduce your issue, and resolve it by removing both groups and re-adding. I'm guessing you're seeing this happen after adding the initial config on the first variant, switching to the second, updating the default, then submitting a workflow? From what I can see, that's where the inco

[2020-10-28 03:51] nathanwoulfe commented on #49
Thanks @Chris-N1, this is fixed in 1.4.3-beta, on NuGet now if you feel like verifying 😄

[2020-10-28 03:52] nathanwoulfe commented on #50
And fixed in 1.4.3-beta, if you feel like updating and verifying...

[2020-10-28 07:54] piotrkrajewskicn commented on #50
Hi again, thanks for the answer!
So I updated to this version: https://www.nuget.org/packages/Plumber.Workflow/1.4.3-beta-000468 which was updated 4h ago so I assume it's the proper one.

Unfortunately now I can see another(?) bug, basically nothing happens on the click of "Request publish".
So this is the same list of step that I go through on both 1.4.2 and 1.4.3-beta-000468, in 1.4.2 I can see

[2020-10-28 07:58] nathanwoulfe commented on #50
ah yeah, I stuffed up... left some debugging stuff in when I built, which makes the initiate workflow method return early. Will have new build up in half an hour or so. Oops.

[2020-10-28 08:06] nathanwoulfe commented on #50
@piotrkrajewskicn new beta is built and deployed, will be on NuGet in a few minutes => Plumber.Workflow.1.4.3-beta-000469

[2020-10-28 09:27] Chris-N1 commented on #49
Thanks Nathan - I'll take a look at that today 👍

[2020-10-28 09:54] piotrkrajewskicn commented on #50
Great, now it works for me, thanks a lot!  🙌

[2020-10-28 10:18] nathanwoulfe commented on #50
Excellent, glad to hear it. I'll push out a proper release tomorrow, but the beta is completely fine to use, is exactly the same as what will be in the release.

[2020-10-28 11:27] DegsyD opened #51 "System.InvalidOperationException error"
**Describe the bug**
System.InvalidOperationException: Sequence contains more than one element error after clicking Offsite Approval link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Content
2. Make a change
3. Click Request Publish
4. Receive Offline approval email
5. Click on Offsite Approval link
6. See Error

**Expected behavior**
The page to be previewed with the proposed cont

[2020-10-28 21:46] nathanwoulfe commented on #51
Hey @DegsyD, pretty sure I know what's happening here - the GetNewestTaskByNodeId method expects to find a single workflow task for the given node id, but that doesn't consider variant nodes which can have multiple active workflows. Will investigate and include a fix in 1.4.3.

[2020-10-29 00:23] nathanwoulfe commented on #51
Plumber.Workflow.1.4.3-beta-000470 will be on NuGet soon, it should resolve this issue - please let me know

[2020-10-29 11:28] DegsyD commented on #51
Seems to work on localhost, although on the environments we aren't seeing anything in the workflow tab, and we suspect it's caused by the following error:
![error](https://user-images.githubusercontent.com/17767149/97562592-c514bb80-19d9-11eb-9459-730126905c65.png)

Although I suspect it's possibly an issue on our end.

[2020-10-29 18:07] lordscarlet opened #52 "Question: Is there a way to set which groups are admins?"
By default, the administrator group (Umbraco groups, not approval groups) seems to be able to bypass workflow. Is it possible to set other groups to do the same?

[2020-10-30 01:18] nathanwoulfe commented on #51
I'll see if I can reproduce. Possibly caching on other environments (app_plugins is held fairly aggressively).

`excluded` is a property on `config`, which always exists (as an empty or populated NodeConfigViewModel object), so I'm thinking it's most likely a cache/client dependency thing after upgrading. Try bumping the client dependency version in /config/ClientDependency.config...

[2020-10-30 02:00] nathanwoulfe commented on #52
Hi @lordscarlet, works like this - Umbraco admin group is given access to the Workflow section when Plumber is installed, because that makes sense and follows Umbraco's pattern where admins see everything. Plumber treats any user with access to the Workflow section as a admin, in the context of workflow actions, allowing them to bypass/cancel/action workflows not directly assigned to them.

So, wh

[2020-11-03 09:07] DegsyD commented on #51
We got this working after upgrading to 1.4.3-beta-000471, although we appear to be having issues with scheduled posts going live instantly on approval. As it's not linked to this I think I'll create a separate thread.

[2020-11-03 09:11] nathanwoulfe commented on #51
Thanks @DegsyD - I'll probably get 1.4.3 out this week, hopefully that can include any fixes required for scheduled publishes (if needed)

[2020-11-03 14:55] DegsyD opened #53 "Scheduled Content going live on approve."
**Describe the bug**
When content is submitted for approval with a scheduled date/time, on approval the content goes live immediately before the date/time has passed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Request Publish'
2. Describe changes 'Describe the change'
3. Click on 'Set Date'
4. Enter date/time in future
5. On approval changes go live instantly, rather than at the

[2020-11-04 11:24] nathanwoulfe commented on #53
@DegsyD I've been trying to reproduce this, with no success. What I have noticed though is the preview cookie sometimes hangs around, which means viewing the content after completing the workflow shows the preview version, which would have the scheduled changes.

Could you check that this isn't cookie-related? I've submitted 10+ workflows just now, all work fine when scheduling...

[2020-11-05 15:19] DegsyD commented on #53
I cleared the cookies and now I'm having the opposite problem, content isn't publishing now, is there anything else on our end we might need to check?

[2020-11-05 16:57] Chris-N1 commented on #49
Sorry, that took a while to test (other clients getting in the way) but this is fixed in the latest version :)

[2020-11-06 12:22] Chris-N1 commented on #49
Not sure if you want me to raise a new issue for this but now if I try to "publish" a change the actual request goes through as an "unpublish":

Publish request:

![image](https://user-images.githubusercontent.com/46811766/98365541-7ba41c00-202a-11eb-81c7-d8c34e9cae1a.png)

Result:
![image](https://user-images.githubusercontent.com/46811766/98365640-9d9d9e80-202a-11eb-84ff-e7600c7fe578.png)

Workf

[2020-11-06 12:28] Chris-N1 opened #54 "Missing "Save and Publish" buttons for admins/workflow group users"
**Describe the bug**
It appears that admins and workflow group users with permission to Publish can no longer bypass workflow (as of 1.4.2)

**To Reproduce**
Log on as an admin or a user with the "Publish" right set in Umbraco. On attempting to publish a page you cannot see the "Save and Publish" button (logged on here as a Super Admin - I can still un-publish or publish the document with descenda

[2020-11-06 13:32] Chris-N1 opened #55 "Approver message no longer visible after approval"
**Describe the bug**
Approval message no longer appears after workflow approval

**To Reproduce**
Steps to reproduce the behavior:
As a user without workflow permissions, submit a publish request - see that the publish request is submitted
Log off.
Log on as a user with permission to approve the change
When you approve it now takes you straight to the "Submit" page without changing the

**Expected

[2020-11-07 02:52] nathanwoulfe commented on #49
@Chris-N1 good catch - that will only be happening when the node has unsaved changes, because I'm not passing the correct parameter back into the initiate function after saving. Will be fixed in the next nightly/1.4.3

[2020-11-07 23:16] nathanwoulfe commented on #54
@Chris-N1 yup, my mistake here - missed updating a variable when changing how buttons were assigned. Will be in the next nightly, and fixed in 1.4.3

[2020-11-07 23:50] nathanwoulfe commented on #55
Hi @Chris-N1 this is working correctly - when a task is approved, and that approval completes the workflow, the app routes back to the submit view. If the approval results in a new approval task (ie it wasn't the final step in the workflow), the app stays on the same view, allowing the user to action the new task if they have permission to do so.

In previous versions there were issues with Signal

[2020-11-07 23:50] #55 closed

[2020-11-07 23:53] nathanwoulfe commented on #53
I'd clear all cookies, log out, clear browser cache etc to get back to a clean slate. Check that the Umbraco publish and preview are behaving as expected. Then try a non-scheduled workflow, then a scheduled one. Clearing the cookie won't stop content from publishing.

I'm not seeing any issues in my testing.

[2020-11-09 04:59] #50 closed

[2020-11-09 04:59] #49 closed

[2020-11-09 10:44] Chris-N1 commented on #54
Thanks @nathanwoulfe - I can confirm that has fixed it 👍

[2020-11-10 08:27] nathanwoulfe commented on #54
@Chris-N1, magic, glad to hear it. Will get 1.4.3 out before the end of the week

[2020-11-10 08:27] #54 closed

[2020-11-10 08:28] nathanwoulfe commented on #51
Closing this as 1.4.3 will be out in a day or two

[2020-11-10 08:28] #51 closed

[2020-11-10 20:07] lordscarlet opened #56 "Errors after upgrade to v1.4.2"
**Describe the bug**
Several different errors after upgrade from `1.3.9-beta-000415` to `1.4.2`. Included are:

Navigating to `Approval Groups` gets the following error when calling `getAll`:

[code]

Cancelling an active workflow, on the `cancel` async call gets:

[code]

which then tries to call `/umbraco/backoffice/Plumber/Tasks/tasksbyinstanceguid/undefined`

**To Reproduce**

We have an unusu

[2020-11-10 22:42] nathanwoulfe commented on #56
Hey @lordscarlet, this is all a bit odd - the GetAll method definitely exists, works fine in my local (umb 8.8, latest plumber codebase). Can you try requesting `/umbraco/backoffice/Plumber/Groups/get/2` where 2 is the group id - if there's no group, you'll get a SQL error, but we really just need to verify you can hit the endpoint.

The undefined guid is strange too, since it must exist if workfl

[2020-11-10 23:25] lordscarlet commented on #56
That returned what I assume is expected:

[code]

And another with more data:

[code]

FWIW, one of our other devs was having the issue, and that's what pulled me into it. I then separately installed it on my local, and I saw the same issue as them.

[2020-11-11 00:56] lordscarlet commented on #56
@nathanwoulfe I am definitely not discounting the possibility of something odd/conflicting in our configuration

[2020-11-11 05:37] nathanwoulfe commented on #56
@lordscarlet I think you may be right - I've installed v1.4.3 onto a clean v8.8 site and it works fine... I'd try upgrading to the latest nightly, which has improved logging which may (or may not) give some better insights...

[2020-11-12 13:27] lordscarlet commented on #56
@nathanwoulfe I loaded `1.4.3-beta-000479` and... no errors!

[2020-11-12 18:11] lordscarlet commented on #56
..the other member of my team, however, still getting the error(s). Will dig some more.

[2020-11-12 20:02] lordscarlet commented on #56
@nathanwoulfe I noticed something different between myself and the non-working developer setup. Base don DevTools it looks like my instance is not calling `/umbraco/backoffice/Plumber/Groups/getAll` at all. But, if I dig deeper, it is, but it is calling `/umbraco/backoffice/Plumber/Groups/getAll/false`. If the non-working installation calls it with `/false`, they get a proper response.

[2020-11-12 20:12] lordscarlet commented on #56
@nathanwoulfe [insert smashing things GIF]

The solution was to increment the version in `ClientDependency.config`

[2020-11-12 20:18] nathanwoulfe commented on #56
Good old client dependency... Backoffice caching can be a pain in the ass.

Glad to hear it's resolved though, I'll get 1.4.3 out today.

[2020-11-18 11:03] jesperweber opened #57 "License file not working"
**Describe the bug**
Bought a license as we need some of the pro features. But after adding the license, Plumber still runs in trail mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Added the plumber.lic file in the /App_Plugins/plumber folder
![image](https://user-images.githubusercontent.com/2575817/99521114-45ed2480-2994-11eb-8645-03ec3ec4a78c.png)

2. Restarted the website
3. Liense

[2020-11-18 15:02] nathanwoulfe commented on #57
Hi @jesperweber, I'll look into this first thing in the morning (1am here now).

[2020-11-18 21:43] nathanwoulfe commented on #57
@jesperweber I've tried your license on my local env, it validates without issue. Also checked the tests, a subdomain of the licensed domain generates a valid license.

 So, we'll need to check some things:
- anything in logs? Looking for messages from Plumber.Core.Licensing
- Umbraco version? I'll do a clean install of 1.4.2 on your Umbraco version, and see if I can reproduce
- Is the backoffice

[2020-11-19 08:02] jesperweber commented on #57
Ok, it's working now, maybe I was not able to copy/paste the right key yesterday :-)

Just to be clear. It's not enough to just past the license file in the /App_Plugins/plumber folder and restart the site, you need to enter the license informations and click validate?

For now i have just placed the file on the site manually, but for normal deployments we have a Azure DevOps pipeline doing the de

[2020-11-19 08:27] nathanwoulfe commented on #57
Hi @jesperweber glad to hear it's working (and thanks for your support)

Having the key and license files will be enough - if those are on the filesystem when the site boots, they'll be loaded and validated. Doing it from the backoffice updates the files and triggers an application restart, so effectively does the same thing. Long story short, if the files are in source control, should be fine.

[2020-11-19 08:37] jesperweber commented on #57
Cool, we have both the licens and key file as part of the deploy, so it should be fine.

Thanks @nathanwoulfe

[2020-11-19 08:39] #57 closed

[2020-11-19 15:27] NikRimington opened #58 "Ability to filter Workflow History"
At the minute the Workflow History section is a paged list of items, however there is no way to filter the results or search the results. It would be great if it was possible to filter by "Type", "Status", "Requested by" and a "date range for Requested on".

![image](https://user-images.githubusercontent.com/13313745/99686625-af942e00-2a7b-11eb-950a-46b8779d5517.png)

This would make it easier to

[2020-11-19 15:59] NikRimington opened #59 "System.Exception: SQL Server 2012 Paging via OFFSET requires an ORDER BY statement."
Hi Nathan,

On a live site, since upgrading to the latest version the following error is being logged:

[code]

[2020-11-19 21:45] nathanwoulfe commented on #59
Hi @NikRimington I would have sworn I'd fixed that... Will fix it properly this time...

[2020-11-19 21:53] NikRimington commented on #53
Note: We've had a client reporting this behaviour. Haven't yet investigated, but once I do will add more info to this issue if able to replicate reliably.

[2020-11-19 21:59] nathanwoulfe commented on #59
Ok, so this is a bit strange - the SQL executed for `GetFilteredPagedInstancesForDateRange` looks like this:

[code]

Most certainly has an order-by clause. The order-by was added in the last release, so I'm not going crazy thinking I'd worked on it... Is it possible that the DLLs are stale or didn't update when the package was upgraded? Strange though that you'd start seeing the error after an up

[2020-11-19 22:02] nathanwoulfe commented on #58
@NikRimington agree 100% - would be super useful. There is a filter for status, but it's only exposed in the UI via the cards in the chart header on the workflow section dashboard.

I'd planned on improving the chart (adding some new datapoints etc) in the next release, would make sense to include this too, and focus the release on reporting/insights

[2020-11-19 23:01] nathanwoulfe commented on #53
Thanks @NikRimington, would be good to see some steps to reproduce - per my comment above, it's working fine in my tests. That said, my tests will be me using it the way I expect the feature to work, so may not be a real-world test case...

[2020-11-19 23:02] #56 closed

[2020-11-20 22:41] #52 closed

[2020-11-20 22:42] #37 closed

[2020-11-24 00:58] nathanwoulfe commented on #59
@NikRimington realised I didn't tag you in my previous response. Could you double check the dll versions etc...

[2020-11-24 08:59] jonroberts24 opened #60 "Can't Create or Edit a page in the CMS"
Hi,
**We can not create a brand new CMS page or edit an existing page.**
We have the latest version of Plumber installed - 1.4.3.
When we test the site using LocalHost we can no longer Create or Edit and pages in the CMS. It throws the following error:

Received an error from the server
An error occured
Object reference not set to an instance of an object.

Exception Details
System.NullReferenceEx

[2020-11-24 09:13] NikRimington commented on #59
Hey @nathanwoulfe I think it might be fixed in the latest release. I noticed that after a clean deployment it seems to have disappeared. Can't see any more entries for it in the logs since a deployment happened (after raising this ticket).

[2020-11-24 09:13] #59 closed

[2020-11-24 09:51] nathanwoulfe commented on #60
Hi Jon

The location of the error is suggesting that the content item has no content apps - I'm not sure how that would be possible... Latest nightly adds an extra null-check which should prevent the error, but doesn't explain why it's happening.

Is there anything unique about your doctypes or site setup? What Umbraco version?

[2020-11-24 09:55] jonroberts24 commented on #60
Hi - the weird thing is - we have a local environment in the office connected to the Development Database. The development website works perfectly - but something locally seems to throw this error.
The version 8.8.1 :)

[2020-11-24 16:17] mixedup4x4 opened #61 "User Guide/Wiki"
Is there a user guide or a set of documents that are a little more "in depth" for people to use?  We are new to Umbraco and thus, new to Plumber(-2) - we have purchased the paid license

[2020-11-24 23:03] nathanwoulfe commented on #60
Possibly, but given the location of the error, that would suggest the version is 1.4.2. Couple of things to check re the license:
- what hostname does the local site run on?
- license and key files exist on disk?
- anything logged by LicensingService?
- what is logged in the browser console if you enter `Umbraco.Sys.ServerVariables.PlumberLicense`?

To rule out the null ContentApps, try dropping t

[2020-11-24 23:05] nathanwoulfe commented on #59
@NikRimington good to hear it's resolved, let me know though if it returns.

[2020-11-24 23:08] nathanwoulfe commented on #61
Hi @mixedup4x4 there's not anything more detailed at the moment, but there really should be. It's a time thing (or lack there-of)

Are there particular pain-points which would warrant more explanation? More than happy to offer guidance where I can.

Writing quality docs is hard - I'm so close to the product that it all seems obvious 😃

[2020-11-25 14:34] piotrkrajewskicn opened #62 "Extending the plugin's functionality"
Hi!

Not sure if it's the right place to write my question but got no other option, I suppose ;)

My client has come up with some specific requirements when it comes to an approval flow. To simplify, let's imagine this kind of a scenario: a user wants to approve a content but to do it, they need to select an additional checkbox saying something like "I accept conditions [...]". Basicaly we'd need

[2020-11-26 21:44] nathanwoulfe commented on #62
@piotrkrajewskicn that's an interesting one - you're correct in that it would be something I'd add to the core package. I could add events that you could hook into to then show the modal, but I don't know how I'd handle the action your user takes in the modal (ie accepting/rejecting the conditions) because my event wouldn't be aware of any subscribers, and if it was, it wouldn't know how the subsc

[2020-11-30 08:02] piotrkrajewskicn commented on #62
Thanks for the answer! I think your first sugestion would work best, I'd imagine that I could subscribe to an event which would provice me with callbacks like in a standard js promise, so I could do something like:

[code]

It seems like that approach could be quite flexile and not too hard to implement, what do you think?

[2020-12-01 20:41] mixedup4x4 commented on #61
I'll get some input from our devs/users and reach back :)

[2020-12-01 21:36] nathanwoulfe commented on #61
Awesome, would be good to know where the pain points are.

[2020-12-03 08:45] SRandomName opened #63 "Question: Plumber 2 license"
Hello !

We have a question about plumber 2 license costs.
I read that the paid license is a one-off, €900 one-time payment.
Does this mean we can use this license on several projects/domains ?
Or do we have to pay €900 to use this package on each domain?

In case we need to pay for each domain:
We have 3 environments running on umbraco cloud with each 4 different domains. Does that mean we need t

[2020-12-03 08:59] nathanwoulfe commented on #63
Hello @SRandomName

The license is per-domain, but that covers all sub-domains too, so if your setup was domain.com for production, with edit.domain.com as the backoffice server, licensing domain.com will cover everything.

With your cloud setup, is it a single backoffice instance? The license would need to cover whatever domain hosts the backoffice - if there are multiple front-end domains, that

[2020-12-03 09:14] SRandomName commented on #63
We use umbraco cloud with 3 environments (dev - staging - live). We might want to use plumber 2 on staging and live environment.
Live environment has 4 different domains for each language. For example:
www.example.com
www.example.be
www.example.fr
www.example.de

Staging environment is just using the umbraco cloud domain with one-level paths:
clouddomain/en-us
clouddomain/be
clouddomain/fr
clouddo

[2020-12-03 09:22] nathanwoulfe commented on #63
Ok, that should be fine - you'd need to license the staging domain only, because the license only cares about the backoffice environment, of which you'll have one.

Probably not needed on dev, I'm assuming you're not editing content on dev?

[2020-12-03 09:24] SRandomName commented on #63
And what about the live environment ?
4 licenses for each front-end domain + 1 for the backoffice domain ?

[2020-12-03 09:28] nathanwoulfe commented on #63
Where is the editing happening? I'd assumed it would be on the single staging server? If the live servers are front end only (ie no backoffice) they don't need to be licensed.

[2020-12-03 09:47] SRandomName commented on #63
Editing will happen in staging and live. So 2 licenses for each backoffice domain will be enough. Thanks !

[2020-12-03 09:58] nathanwoulfe commented on #63
I'd need to confirm, there might be a more efficient way to make this work - are the live environments sharing a single Umbraco instance? Might be able to generate a single license for the different domains to save you purchasing multiple

[2020-12-03 10:04] SRandomName commented on #63
Yes, the live environment with 4 front-end domains is sharing a single umbraco instance ( 1 backoffice domain).

[2020-12-03 10:12] nathanwoulfe commented on #63
So all editing happens on the same domain, even if it's come from a different front end server?

It's been a long week, just trying to get it straight in my head 🙄

[2020-12-03 10:15] SRandomName commented on #63
No, staging has a different domain then live environment backoffice :-D
Staging example backoffice url: https://stage-www-cloudenvironment.umbraco.io/
Live example backoffice url: https://www-cloudenvironment.umbraco.io/

[2020-12-03 10:23] nathanwoulfe commented on #63
Hmmm. You'll need a license for any domain where content is edited, but if there is a common root domain (with subdomains for edit/stage etc), licensing the top level domain would be enough.

If live and stage are two different backoffice instances, both would need licenses. I'll double check in the morning if there's any alternate ways I could set it up

[2020-12-03 10:34] SRandomName commented on #63
Ok, thank you !

[2020-12-04 07:20] nathanwoulfe commented on #63
@SRandomName I'm still not sure I'm entirely across your setup (happy to take this to email if it means you can share more detail).

However...

If you have https://stage-www-yourdomain.umbraco.io and https://www-yourdomain.umbraco.io these should both be covered by a single license, provided you register the license for www-yourdomain.umbraco.io. I've added both as test cases in my unit tests, an

[2020-12-04 08:09] SRandomName commented on #63
1 license for live environment (with 4 domains for front-end & 1 for backoffice) IF it's the same setup that you're describing.

If you want i'll send you an email with more details.

[2020-12-04 08:12] nathanwoulfe commented on #63
Might be a good idea - nathan @ nathanw.com.au

[2020-12-10 13:17] DegsyD commented on #53
@nathanwoulfe I haven't had much chance to look at this lately until today, but realised I could have added more detail in the initial issue, the steps I took today are:
1. Make a change to an existing page.
2. Click 'Save'
3. Click 'Request Publish'
4. Type description of change into 'Describe the changes'
5. Ignore Attachment Field
6. Click 'Scheduled Date'
7. Select today's date on calendar pic

[2020-12-11 12:54] lordscarlet commented on #54
I'm glad I came here before pulling my hair out, running into the same problem. Upgrade it is!

[2020-12-11 13:42] Chris-N1 commented on #53
@DegsyD are you using Umbraco 8.6.5?

I ask because I've just had a report that the underlying Umbraco functionality for scheduled publishing (which I assume Plumber uses under the covers) isn't working and I've just tried it myself as an admin and replicated the issue on our Dev server (without using Plumber's workflow at all).

[2020-12-11 13:54] DegsyD commented on #53
@Chris-N1 We're using Umbraco 8.4.0 at the moment. But I'll check to see if Umbraco's schedule is working for me on that version without Plumber Workflow.

[2020-12-11 14:13] DegsyD commented on #53
@Chris-N1 Our Umbraco schedule works, however I have noticed that when I schedule a publish with the workflow, the info tab in Umbraco does not get the "Publish At" field below the "Created Date".

[2020-12-11 22:12] nathanwoulfe commented on #53
@DegsyD looking at this now - following your repro steps, scheduling works fine (umb 8.8, plumber 1.4.3) - after completing the workflow, no changes are published. Once the scheduled time passes, changes go live. Wondering if it's a combination of 8.4 and something in my scheduling logic not getting along... Scheduling was added in 1.2.0, which aligned with 8.4, but I shifted to 8.5 fairly soon af

[2020-12-18 05:50] nathanwoulfe commented on #53
@DegsyD I've revisited how the scheduling works, so the UI now updates in sync with creating/cancelling/approving workflows - it's now scheduling content using the same mechanism as Umbraco (calling into contentResource.saveSchedule), so should be fine. I've checked it locally, works perfectly - workflow is completed, then changes are published once the release date passes.

It's in the latest nig

[2020-12-21 11:29] DegsyD commented on #53
@nathanwoulfe Tested this morning locally and it is behaving as expected on 1.4.4-beta-000491

[2020-12-21 21:57] nathanwoulfe commented on #53
@DegsyD glad to hear. I'm still not sure why it wasn't working properly previously (excluding the UI update, fully aware of what was happening there). All good though, I'm aiming for a pre-Christmas release with some other changes, but depending on my motivation levels that may well be pre-New Year...

[2020-12-23 05:57] nathanwoulfe commented on #58
@NikRimington next release will include history filters - it's in the next nightly, which arrives on nuget in about 2 hours from now.
Aiming to release it tomorrow if I can find a few minutes for final testing.

![image](https://user-images.githubusercontent.com/3248070/102964503-92012b00-4537-11eb-9826-f66a93ab72f1.png)

[2020-12-23 05:58] nathanwoulfe commented on #60
@jonroberts24 any luck resolving this?

[2020-12-23 05:58] #63 closed

[2021-01-14 20:39] lordscarlet opened #64 "Convert release note linebreaks to HTML breaks"
**Describe the solution you'd like**
It is hard to parse the release notes when they run together in a single line

![image](https://user-images.githubusercontent.com/17951/104646569-99bb7780-567e-11eb-826f-2d8946172c48.png)

[2021-01-14 20:43] lordscarlet commented on #64
I also need to figure out why our is reporting the wrong version..
![image](https://user-images.githubusercontent.com/17951/104647012-3f6ee680-567f-11eb-9f92-82ba42101d59.png)

[2021-01-14 21:07] lordscarlet opened #65 "Add "Attachment" label to language file"
Can you add the "Attachment" label to the language file. I don't actually need to do a translation, but I want the attachment to be used for a specific purpose and I would like to change the label based on that. It probably makes sense to do "Add File" as well.

![image](https://user-images.githubusercontent.com/17951/104649330-91fdd200-5682-11eb-8b66-7274d97a457c.png)

[2021-01-14 21:16] lordscarlet commented on #47
I feel like I have asked this somewhere else, but I haven't been able to find it if so. Where is the diff button? I dont' see it in my UI.

![image](https://user-images.githubusercontent.com/17951/104650163-c6be5900-5683-11eb-9f73-8931f2fd4499.png)

[2021-01-14 21:18] lordscarlet commented on #47
Found it, I need our license to be purchased before it will be available. https://github.com/nathanwoulfe/Plumber-2/issues/33#issuecomment-692405218

[2021-01-14 22:47] nathanwoulfe commented on #64
Hi @lordscarlet, I'm guessing you're running a nightly? Latest release is 1.4.3, latest nightly will be 1.4.4.x, which will then mean the check for the release notes will return dodgy info, since it just does a simple compare between two values. Really should be checking that the installed version is lower than the latest (as reported from the github api).

Should be easy enough to get linebreaks

[2021-01-14 22:48] nathanwoulfe commented on #65
@lordscarlet absolutely - I thought I'd caught all the locale strings. Obvs not.

Will include in 1.4.4.

[2021-01-15 00:48] nathanwoulfe commented on #33
Not sure why I've locked that one - license should really only be managing the total number of groups and a couple of advanced features. Content diff is core feature and should be always on. I'll wind that back in 1.4.4

[2021-01-15 01:38] nathanwoulfe commented on #64
Was missing a header in the GB request, looks much better now!

![image](https://user-images.githubusercontent.com/3248070/104669632-279e6d80-5726-11eb-98aa-9784fb86672e.png)

[2021-01-15 03:11] lordscarlet commented on #64
Lovely!

[2021-01-23 17:29] callumbwhyte opened #66 "Exception when loading content items"
Since upgrading to Umbraco 8.10.1 and Plumber 1.5.0 we've been getting errors when loading any content item.

The `/umbraco/backoffice/Plumber/Scaffold` endpoint throws the following error:

[code]

As a result of the error the "Save & Publish" buttons are initially hidden when loading any content item - only the "Save" button is visible. After saving the content item the "Save & Publish" buttons

[2021-01-23 20:57] nathanwoulfe commented on #66
That's not good. Could you check the WorkflowSettings table - it should have a single row only, I was seeing some cases where a second was being added, so dealt with that, but now it looks like there's no value found to bang into cache...

[2021-01-23 22:32] nathanwoulfe commented on #66
@callumbwhyte I've installed 1.5 into a freshly updated 8.10.1 site, no exception... It's somehow related to the data in the WorkflowSettings table, just need some insight into what is in there.

[2021-01-23 22:58] callumbwhyte commented on #66
@nathanwoulfe Confirmed that the `WorkflowSettings` table is empty. This isn't a site that's been upgraded.

[2021-01-24 00:38] nathanwoulfe commented on #66
@callumbwhyte that's not good. To clarify - is this a new install of Plumber, or an existing site where both Umbraco and Plumber have been upgraded? Bit concerning that the settings would be gone (assuming it's not a new install)

[2021-01-24 00:48] callumbwhyte commented on #66
Hey @nathanwoulfe, this is an upgraded site - Plumber was installed ~December 2019 back on Umbraco 8.3/8.4.

[2021-01-24 00:51] nathanwoulfe commented on #66
Really strange - I ran the upgrade on a local site from 8.6 to 8.10.1, then updated Plumber to 1.5.0, no issues. Somewhere in the upgrade your settings table has dropped its content..

[2021-01-24 00:57] nathanwoulfe commented on #66
Otherwise, going to the workflow section and saving the settings should insert a new row. Failing that, restarting the site should insert a new row if none exist.

[2021-01-24 01:34] nathanwoulfe commented on #66
And building a patch now - I haven't solved where the settings went, but the patch will insert a default settings object if none exist on startup. That should have been the case previously, but I was updating rather than inserting, which ain't gonna work if there's nothing to update.

Patch will be Plumber.Workflow.1.5.1-beta-000508

[2021-01-24 08:29] Elethiomeluk commented on #66
I had similar issues when I updated a local site to 8.10.1 and Plumber 1.5.0 (from 8.8.2 and 1.4.3) - I didn't have time to look into it (in the middle of a big redesign project) but downgrading to Plumber 1.4.3 seemed to fix it.

Just tried upgrading back to 1.5.0; before the upgrade, WorkflowSettings had a single row; after upgrading, there is still a row in there, but the following error occurs

[2021-01-24 08:49] nathanwoulfe commented on #66
@Elethiomeluk definitely the same error - try updating to the latest nightly (1.5.1), and see if that helps...

Is there anything else about your setup that might be contributing?

[2021-01-24 08:55] Chris-N1 commented on #66
Oops, didn't realise I was logged in on my other account, 'tis I! (Trying out Edge as a default browser and must have logged into the wrong account).

Hmm - on the local installation there are no approval groups at the moment; I could add one back. Apart from that I don't think there's anything odd - quite a few other packages installed but I wouldn't expect any of them to interfere with Plumber.

[2021-01-24 09:03] nathanwoulfe commented on #66
It's got me puzzled for sure - code gets settings from the database, if none exist it creates a new object, then punts it into memory for later. Can't see where that would be coming undo...

[2021-01-24 09:07] nathanwoulfe commented on #66
Actually I might also revert some changes from 1.5.0 which were added to manage sites updating from umb7 to 8, add a manual step in the docs, and get 1.5.2 back to the last known stable state.

Unless of course 1.5.1 fixes the issue 😁

[2021-01-24 11:05] callumbwhyte commented on #66
@nathanwoulfe I've updated to v1.5.1-beta and confirmed that it fixes the issue.

The "Save & Publish" buttons flicker for a while on load, but at least it's functional.

![Buttons](https://user-images.githubusercontent.com/16511093/105628293-fca5cf00-5e33-11eb-81ba-775e32a04194.gif)

[2021-01-24 11:17] nathanwoulfe commented on #66
@callumbwhyte glad to hear it - still not sure why this would have happened, but such is life.

Will see if I can improve the button display, should be able to hide the buttons until the final state is determined

[2021-01-25 18:49] azdyrski opened #67 "Umbraco.UploadField properties getting cleared on saving pending changes on implicit workflow"
Using latest beta plumber 2: 1.5.1-beta-000508
Umbraco v8.10.1

I have workflow setup to do implicit workflow and I am a member of the approval group

On the content node, upload a file into any Umbraco.UploadField property and hit the "Request Publish" options.  The yellow "Pending content changes will be saved automatically" seems to indicate when the issue is going to occur.  When I enter chang

[2021-01-25 21:18] nathanwoulfe commented on #65
1.4.4 became 1.5.0, which includes this change.

[2021-01-25 21:18] #65 closed

[2021-01-25 21:18] nathanwoulfe commented on #64
Included in 1.5.0

[2021-01-25 21:18] #64 closed

[2021-01-25 21:18] nathanwoulfe commented on #58
Included in 1.5.0

[2021-01-25 21:18] #58 closed

[2021-01-25 22:47] nathanwoulfe commented on #67
Hi @azdyrski thanks for letting me know - this is fixed in the latest nightly and will be part of 1.5.1. Issue was caused by not setting the files param when automatically saving dirty content.

Build will be on nuget in around 30 minutes from the time of this comment 😄

[2021-01-25 22:47] #67 closed

[2021-01-25 22:47] nathanwoulfe commented on #66
@callumbwhyte latest nightly has no flickering buttons.

[2021-01-25 22:47] #66 closed

[2021-01-26 14:50] SRandomName opened #68 "Error getting version information"
After adding the license key we get this error:
![image](https://user-images.githubusercontent.com/48089189/105860478-ea6f9080-5fed-11eb-942c-5d202c6d6d08.png)

Versions:
Plumber - v1.4.4-beta-000487
Umbraco - v8.8.2
Forms - v8.5.3
Deploy - v3.5.3

**Licensed version?**
Yes

We mailed with you about licensing our 3 environments: Dev - Staging - Live.
Live is working as expected, but using the same

[2021-01-26 21:56] nathanwoulfe commented on #68
Hi @SRandomName, this won't be related to the license - first thing I'd do is update to the latest nightly (1.5.1), but that shouldn't impact this issue either. The URL requested in that method is public, so should never have a 403 response.

Does the workflow documentation load correctly (workflow section, link in left nav)? This also queries the GitHub API for data, so should behave similarly.

[2021-01-27 10:31] SRandomName commented on #68
Yes the workflow documentation loads correctly. Looking at the backoffice workflow section today we don't get the error anymore while we didn't change anything.

[2021-01-27 10:37] #68 closed

[2021-01-28 15:20] SRandomName opened #69 "Publishing bug after installing plumber 2"
Publish bug: After installing the plumber 2 package there have been some issues publishing pages.
When we try to publish a page, our publish button is stuck with a console error.

Only after a hard refresh, the publish button works again.

**To Reproduce**
Steps to reproduce the behavior:
1. Install plumber 2 v1.4.4-beta-000487
2. Create any page and publish. You will notice after a while you'll g

[2021-01-28 21:15] nathanwoulfe commented on #69
@SRandomName I'll need more detail to be able to look into this:
- is this happening on a page with workflow enabled?
- is workflow configured?
- can you share the workflow settings and node config?

Nothing in that trace indicates an issue in Plumber, it's all Umbraco code, so that makes it very difficult to debug without detailed reproduction steps.

I'd also update from 1.4.4 to the latest 1.5.

[2021-01-29 07:21] SRandomName commented on #69
@nathanwoulfe, workflow is not enabled and not configured. Umbraco support figured out that this issue is resolved when deleting the plumber 2 dll.

[2021-01-29 07:37] nathanwoulfe commented on #69
If it's a node without workflow configured, it cant be related to Plumber -  when it's not configured, there's nothing happening and no backend interaction, so the DLL shouldn't be a factor.

Did support give any insight into why this was an issue? Knowing how Plumber works, I don't see how this would be possible.

It's also strange that I haven't had any other reports of this happening 🤷‍♂️

[2021-01-29 07:43] SRandomName commented on #69
@nathanwoulfe - No support unfortunately did not give any insight. Support cloned our project, tested some things out and after deleting the dll the bug was gone.

We'll update plumber and check if the bug is gone. Thanks!

[2021-01-29 08:11] nathanwoulfe commented on #69
That's really odd, I can't see how that would have any impact. Let me know what happens on 1.5.1, if that doesn't resolve it will need to dig deeper...

[2021-01-29 08:12] SRandomName commented on #69
Ok Nathan, Will do! Thank you.

[2021-01-29 08:31] SRandomName commented on #69
@nathanwoulfe  - upgrading the packages to 1.5.1 gives us the following error opening the history tab:
![workflowHistoryError](https://user-images.githubusercontent.com/48089189/106250991-b5915280-6214-11eb-913d-358714e995cc.PNG)

[2021-01-29 08:36] nathanwoulfe commented on #69
Ah, I have pushed when I shouldn't have pushed...

History is most likely browser caching, I'll push up a fresh build shortly to fix the licensing error

[2021-01-29 08:37] SRandomName commented on #69
Ok, thanks Nathan!

[2021-01-29 09:04] nathanwoulfe commented on #69
@SRandomName I've just now published a new nightly fixing the licensing bit (I pushed changes prematurely, which then triggered a nightly build. My bad). It will be on nuget in 15-20 minutes from the time of this comment.

Version is 1.5.1-beta-000512

[2021-01-29 09:08] SRandomName commented on #69
Alright no problem!

[2021-02-01 08:26] #69 closed

[2021-02-02 15:07] azdyrski commented on #67
Forgot to leave a response but the fix worked great on my end!  Thanks a bunch.

[2021-02-02 17:08] nobledm opened #70 "Null Value Error"
**Describe the bug**
Cannot view Workflow > Approval Groups, and errors pop up when trying to view Workflow > Settings or any content pages in the back office.

(Settings)
*Exception Details*
`System.ArgumentNullException: Value cannot be null. Parameter name: value`

*Stacktrace*
`   at System.Web.Http.Dispatcher.DefaultHttpControllerActivator.Create(HttpRequestMessage request, HttpControllerDesc

[2021-02-02 19:15] nathanwoulfe commented on #70
Hi @nobledm, Plumber absolutely works with SQLCE, so all good on that front.

First thing I'd try is bumping to 1.5.1 (the latest nightly). I made changes in 1.5.0 to manage migrating settings in projects where Umbraco has been upgraded from v7, but that change seems to have unexpected side affects in some scenarios. I believe that is fixed in the nightly.

If you can try that, and the issue remai

[2021-02-02 20:20] nobledm commented on #70
Excellent! The latest 1.5.1-beta seems to have no issue.

Thanks so much for the quick response. Can't wait to show this wonderful package off :3
Cheers!

[2021-02-02 20:20] #70 closed

[2021-02-02 21:01] nathanwoulfe commented on #70
Awesome, glad that worked! I'm still not entirely sure why the change in 1.5.0 doesn't always work, but seems to be fixed.

I think the number of upgrades from 7 to 8 that also include a Plumber upgrade would be pretty low, so will probably roll the dodgy change back and add a manual migration step instead...

[2021-02-04 16:53] jonroberts24 opened #71 "Cannot create/edit page in Localhost"
Hi,
I think I may have asked this question before but we cannot create a new page or edit an existing page when in LocalHost. The page just keeps refreshing.

 Is it possible to view pro-features on Localhost. I've entered the licence again locally and it's still not showing a valid licence. Works fine on Live and dev sites (not localhost)

[2021-02-04 18:39] nathanwoulfe commented on #71
Hi @jonroberts24

What is the exact domain used for localhost? I'll need to check how the paid license is validated on localhost, but in the meantime try using an empty file called test.lic

[2021-02-05 10:02] jonroberts24 commented on #71
Hi - the exact localhost domain is: https://localhost:44330/
We tried the test.lic but that didnt work. Here are a few screen shots

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/39406041/107019213-4f1eae00-6799-11eb-8ba2-940f8e66d83c.png)
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/39406041/107019218-4fb74480-6799-11eb-851e-1f3a7983190f.png)
![Mic

[2021-02-05 10:15] nathanwoulfe commented on #71
Ah yeah, we have explored this before - the line throwing the error is checking e.Model.IsElement and filtering the assigned apps to check for one aliased 'content'. This is done to determine if the workflow app should be removed (ie it's not shown on elements or nodes with no content app).

I don't see how either e.Model or the app collection could be null. Are you doing anything non-standard in

[2021-02-05 10:24] jonroberts24 commented on #71
Hi - it is.
The strange thing is that we have a Dev and Live environment and they work fine. The Dev site is actually using the same database as our LocalHost domain. So the Doc types etc are the same on both. Its quite odd.

[2021-02-05 10:43] nathanwoulfe commented on #71
I'd try catching EditorModelEventManager.SendingContentModel in a new component, and logging e.Model.IsElement and e.Model.Content apps.

According to the stack trace one or the other should be empty, which might give you some idea where to look...

[2021-02-10 14:57] lordscarlet opened #72 "Able to Request unpublish on unpublished item"
**Describe the bug**
If a node is currently not published, you are still presented with the option to unpublish it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a content node that is not published
2. Click on the carat next to "Request publish..."
3. You will see "Request unpublish"

**Expected behavior**
If a node is not published, there should not be an option to request unpublish

[2021-02-11 00:35] nathanwoulfe commented on #72
@lordscarlet that makes sense - change will be in tonight's nightly 👍

[2021-02-11 05:52] nathanwoulfe opened #73 "Pester power!"
When a task has been stale for n days, the responsible approval group should be alerted via email, and via UI in the main dashboard. Pester days should be configurable, with 0 disabling the option

[2021-02-11 05:55] nathanwoulfe commented on #71
@jonroberts24 any luck with debugging the SendingContentModel event?

[2021-02-11 05:56] nathanwoulfe opened #74 "Typescript"
Because I'm mad. Let's port it all to TS, which will make life a bit easier in future when Umbraco's new backoffice arrives, since TS will make it a bit harder to unknowningly break stuff.

[2021-02-11 08:19] nathanwoulfe commented on #72
@lordscarlet because I forgot to bump the version number, tonight's nightly is 1.5.1-beta-000520. Will be back to 1.5.2 tomorrow.

[2021-02-15 13:57] jonroberts24 commented on #60
Hi - we have deleted the code from the site and it works again. Would we need a copy of the licence if we try and re-install the latest 1.51?

[2021-02-15 14:33] pauldequant commented on #60
Hi Nathan,

In an effort to progress this, we've uninstalled Plumber completely and deleted all the Workflow* tables from the database. We've now tried a clean install and are getting this error:

Boot failed: Umbraco cannot run. See Umbraco's log file for more details.

-> Umbraco.Core.Exceptions.BootFailedException: Boot failed.

-> System.Data.SqlClient.SqlException: Invalid object name 'Workfl

[2021-02-15 15:01] jonroberts24 commented on #60
Hi Nathan - I pasted this into the console "Locally" and it came back as Undefined

[2021-02-15 19:15] nathanwoulfe commented on #60
Hi @pauldequant, you'll need to remove the entry from the umbracoKeyValue table so that the migrations run on install, which will recreate the tables.

@jonroberts24 if you've removed all the Plumber code, I'd expect that value to be undefined, as it won't have been added to the server variables collection.

Did you try adding the component in the linked gist? Need to know why the apps collection

[2021-03-15 09:09] maulik-modi commented on #61
@mixedup4x4 or @nathanwoulfe , Has there been any progress on Userguide or Usermanual. We are bidding a contract and want to recommend this provided it has good documentation/user manual for end user training.

[2021-03-18 15:12] mixedup4x4 commented on #61
@nathanwoulfe, sorry it's been a while, my dev/qa team are kinda like most of us....'stubborn and hard headed'....they've almost got it all sorted out....BUT, I have kept telling them, that reaching back with anything is how open source works ... so here's hoping :)

[2021-03-24 13:09] lordscarlet opened #78 "New node approval flow"
**Describe the solution you'd like**
Allow the creation of an approval flow specific to when someone would like to publish a never-before-published node. Presumably, this would follow rules similar to the Document type approval flow as it concerns existing flow inheritance.

**Describe alternatives you've considered**
I thought about an action-based flow, but that seems complicated to implement, a

[2021-03-26 07:09] nathanwoulfe commented on #78
Hey @lordscarlet, I like the sound of this, and even better shouldn't be too much effort to implement.

I think I'd approach it as a global setting, with a feature flag - admin can configure the new-node workflow to apply to all new nodes, but then also be able to turn it on/off. Then over on the workflow content app, it can show a UI alert of some sort to clarify that the new node will use a diff

[2021-03-26 10:09] lordscarlet commented on #78
Sounds excellent! Let me know if there is anything you could use from me.

[2021-03-26 17:40] lordscarlet opened #79 "Can only see oldest 5 tasks requiring my approval"
**Describe the bug**
When navigating to the Workflow dashboard under Content, I only see the oldest 5 tasks requiring my approval

**To Reproduce**
Steps to reproduce the behavior:
1. Place more than 5 items into a pending or rejected state
2. Navigate to `/umbraco/#/content`, and click the "Workflow" Dashboard

**Expected behavior**
I would expect to have access to all of the tasks pending my app

[2021-03-26 17:45] lordscarlet opened #80 "Provide method to approve from Workflow History"
**Is your feature request related to a problem? Please describe.**
When browsing via the workflow history, provide the same ability to interact with a request as in the "Tasks requiring my approval"

**Describe the solution you'd like**
When clicking the "Detail" button on the workflow history, I would like to interact with a request the same as I can from the "Tasks requiring my approval". Most i

[2021-03-26 18:59] lordscarlet opened #81 "Provide better context when reviewing requests"
**Describe the solution you'd like**
We have over 25,000 published nodes on our single Umbraco site. This means that knowing the context of a node is very difficult when the only thing you have is a page name. Things like "2020" or "Contact Us" are repeated many times throughout the site. It also means that the person performing the approval is not necessarily widely versed in all of the content.

[2021-03-26 19:04] lordscarlet opened #82 "No validation for length of description"
**Describe the bug**
When initiating a workflow, there is no validation for the length of the description field.

**To Reproduce**
Steps to reproduce the behavior:
1. Request publish on a node
2. Enter a lot of text into "Describe the changes"
3. Click "Request publish"
4. Receive an error and lose any content entered `Could not initiate workflow: string or binary data would be truncated`

**Expec

[2021-03-26 19:10] lordscarlet opened #83 "Long change description causes horizontal scroll or clipped text"
**Describe the bug**
If a long change description is entered, it creates a horizontal scroll or clipped text

**To Reproduce**
Steps to reproduce the behavior:
1. Request publish of a node
2. Enter a change description of moderate length (per #82, you can't make it particularly long)
3. View the Active workflow information and it will create a horizontal scroll
4. Go to the workflow dashboard or w

[2021-03-27 02:18] nathanwoulfe commented on #82
@lordscarlet this one is confusing - the column is varchar(max) so should have no issues with storing long data. Strangely though if I try to insert a long string into that column via Linqpad/SSMS I get the same error so I'm thinking it's less likely a code issue as it is a schema problem. Don't really want to switch to ntext given it's deprecated, but if that fixes the issue, I guess that's an ea

[2021-03-27 02:23] nathanwoulfe commented on #82
Annnd it's probably due to Umbraco having to support SQLCE, which doesn't support nvarchar(max).

ntext it will have to be - I'll do this in the 1.6 minor, as there is already a migration task for that release. Changing the column type will remove the need for a character count, as the field will store way more than any editor is going to type.

[2021-03-27 02:26] nathanwoulfe commented on #79
@lordscarlet had a bug in the paging on the editor dashboard, resolved in tonight's nightly.

Will release either as 1.5.3, or roll it all into 1.6, depending on my availability.

[2021-03-27 02:28] nathanwoulfe commented on #81
@lordscarlet I've updated the dialog to include the url as the header description (in place of 'Action: Publish'), and shifted the action into the dialog title. Also added a go to node button next to preview, which is displayed only when the dialog is opened from a dashboard (as there's no value in showing it in the content app since we're already on the node)

Will be in tonight's nightly, then r

[2021-03-27 02:29] nathanwoulfe commented on #83
@lordscarlet same story here - in tonight's nightly, released in 1.5.3/1.6. Haven't addressed line break.

[2021-03-27 02:31] nathanwoulfe commented on #80
Not sure approving from history is going to work - there's different data available in the history view, since it isn't always attached to a node or current editor state

The v7 version had a third table on the dashboard, displayed only for admins, to show all active tasks. Will look at adding the same here

[2021-03-27 03:25] lordscarlet commented on #80
Sounds good. This is definitely less of an issue with #79 addressed.

[2021-03-27 03:29] lordscarlet commented on #82
That seems like a good compromise. Not being able to use varchar(max) is unfortunate, but you're right, an editor shouldn't run out of characters.

[2021-03-27 22:59] #60 closed

[2021-03-27 23:02] nathanwoulfe commented on #79
Fixed in 1.5.3

[2021-03-27 23:02] #79 closed

[2021-03-27 23:03] nathanwoulfe commented on #81
Fixed in 1.5.3

[2021-03-27 23:03] #81 closed

[2021-03-27 23:03] nathanwoulfe commented on #83
Fixed in 1.5.3

[2021-03-27 23:03] #83 closed

[2021-04-21 15:33] NikRimington commented on #82
I've started seeing this error as well:

String or binary data would be truncated in table 'dbo.WorkflowInstance', column 'AuthorComment'.

An option to help would be to actually put a limit on the length of the comment and give feedback to the editor rather than a complete failure? That error message isn't that helpful especially as there is no feedback to indicate what length would be acceptable

[2021-04-21 20:45] nathanwoulfe commented on #82
Hey @NikRimington the fix for this is on the way in 1.6, needs a column migration to change the type. I think the latest nightly includes the change, but might still have some other issues so wouldn't be prod-ready yet.

If it's urgent, you should be able to change the column type yourself, with no side affects.

[2021-05-13 01:01] ja0b opened #84 "View differences error"
**Describe the bug**
The package shows a non friendly error when you click on the "view differences" icon.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to workflow history or active workflow
2. Click on the "view differences" icon
3. See error

**Expected behavior**
See the license restriction in the slide view "View differences: ###" that appears when you click the button.

**

[2021-05-13 03:23] nathanwoulfe commented on #84
@ja0b thanks for letting me know - that button shouldn't be visible at all on non-licensed installs, hence the error... Will fix it up.

And yeah, sadly it's the same diffing as the Umbraco core one. It's not great, but I'm not really sure what would be better, since more and more properties store JSON values, so it's not a very attractive visual compare...

Aiming for a v1.6.0 release soon (famou

[2021-05-13 14:12] ja0b commented on #84
@nathanwoulfe Awesome 👍!!! Thanks.
Regarding the diff thing... yes I know the default one is mehh that's why I was hoping this to be different 😅.

[2021-05-13 14:12] #84 closed

[2021-05-18 15:17] mamray opened #85 "UmbracoCMS 8.12.2 does not start after Plumber 2 (v1.6) installed"
**Describe the bug**
Umbraco CMS instance website unable to start after Plumber 2 (v1.6) is installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for the nuget package Plumber.Workflow
2. Install it to the web application (single project in solution)
3. Put test.lic into required folder
4. Start application from VS2019 using IISExpress, see error.

**Expected behavior**
Applicati

[2021-05-18 19:37] nathanwoulfe commented on #85
Hi @mamray, that's a bit annoying... There must be some dodgy SQL in one of the 1.6.0 migrations. I'll fix this ASAP.

[2021-05-18 22:50] nathanwoulfe commented on #85
@mamray I've published a nightly build for 1.6.1, which I believe fixes the issue - I've installed locally onto SQLCE and SQL server, both installs completed without issue. If you could please try again and confirm the issue is fixed, I'll push out a proper release.

[2021-05-19 09:48] mamray commented on #85
I will check the fix and will post the result of the test here. Thanks)

[2021-05-19 15:00] mamray commented on #85
@nathanwoulfe I'm sorry, but where do I get that 1.6.1 version? I do not see any links here and nuget is still of 1.6.0. TA

[2021-05-19 20:18] nathanwoulfe commented on #85
@mamray it's a prerelease, so you'll need to tick the 'include prerelease' box in the nuget package manager in visual studio, or should be able to install via the console if you specify the version, 1.6.1-beta-000566

[2021-05-19 20:32] mamray commented on #85
@nathanwoulfe Yes, confirm, 1.6.1 works fine. Thanks.

[2021-05-19 20:33] nathanwoulfe commented on #85
@mamray good to hear! I'll finalise the proper release today.

[2021-05-28 09:03] WayneKruger opened #86 "Error when running test license on non-localhost domain"
**Describe the bug**
When the test license is present and you try to access the Umbraco CMS on a non-localhost domain, you are presented with a blank screen (just the Umbraco CMS header is visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure the test license is present
2. Access the CMS via a non-localhost domain (e.g site.localtest.me)

**Expected behavior**
Should the CMS not

[2021-05-28 09:32] nathanwoulfe commented on #86
Hi @WayneKruger, this is due to the subdomain - the test license will be ok on any domain ending `.test` or `.local`, or `localhost` or `localtest`, with no subdomain.

Admittedly it's a bit flakey, and will have some changes as part of the V9 version which will be backported to V8. Really should be doing some pattern matching on combinations of localhost/localtest, and .test, .local, .me, or some

[2021-05-28 09:40] #85 closed

[2021-05-28 09:59] nathanwoulfe commented on #86
Will have a fresh nightly up soon with improved domain handling

[2021-05-28 10:51] WayneKruger commented on #86
Great thanks.

So for running the trial version on a non local domain, do I then just remove the license file? I am trying to determine whether my client will need to purchase a license or if the standard one will do but I am unable to figure out how to set up a 2 step approval flow with the unlicensed version. I was able to do it easily with the test license.

Sorry this is perhaps not the right

[2021-05-28 21:24] nathanwoulfe commented on #86
Hi @WayneKruger, that's correct - the test license is only used to unlock the paid features for evaluation on local sites. Removing it will revert to the default features (will need to restart the site since the license is checked on boot).

Re the 2-step approval, what issues were you having? Flows on content types require a license, node-level flows are always available.

[2021-05-31 07:44] WayneKruger commented on #86
I'm trying to figure out how to enable a node level workflow . I have the 2 approval groups set up but where do I enable the workflow for a specific node?

[2021-05-31 07:58] nathanwoulfe commented on #86
You'll do that on the node itself, on the workflow content app (there will be a config tab with options for setting the workflow, plus showing any inherited or content-type flows applied to the current node)

[2021-05-31 08:04] WayneKruger commented on #86
Silly me. I didn't have any properties defined on the content type yet so the Workflow tab was not visible. Thank you so much for your help!

[2021-05-31 08:12] nathanwoulfe commented on #86
Ah yeah, that'll do it! 😄

[2021-06-30 02:38] #86 closed

[2021-06-30 02:38] nathanwoulfe commented on #82
Fixed in v1.6.0

[2021-06-30 02:38] #82 closed

[2021-06-30 08:19] nathanwoulfe commented on #80
@lordscarlet latest beta has a new tree in the workflow section - Active workflows.

From here, anyone with access to the section can view and action any active workflows. Should prove useful, I suspect.

[2021-06-30 21:57] #72 closed

[2021-06-30 21:57] nathanwoulfe commented on #72
Resolved in 1.6.0

[2021-07-19 16:33] NikRimington opened #90 "Upgrade to 1.6.3 has resulted in emails not sending at all."
**Describe the bug**
When an editor tries to send a "Approval Request", they are presented with a double error notification that looks as follows:
![image](https://user-images.githubusercontent.com/13313745/126194315-be0b64a8-b122-432c-a9f8-290a238cf6b1.png)

These are the errors in the Umbraco logs:
![image](https://user-images.githubusercontent.com/13313745/126194395-04dac728-8258-4bc4-ae52-f325

[2021-07-19 20:35] nathanwoulfe commented on #90
Hey @NikRimington thanks for letting me know. Odd that this didn't start immediately after installing...

I'd consider rolling back to 1.6.2 - while that still has some issues, at least the workflows work.

Wondering if this is somehow relayed to Azure, since it all seems to work fine locally and test all pass etc. I'll have a dig into the 1.6.3 release and see if I can reproduce

[2021-07-19 20:37] nathanwoulfe commented on #90
Actually, rather than rolling back, would be easier to turn off the notifications. Means no emails, but will prevent this issue

[2021-07-19 22:12] NikRimington commented on #90
I'll give that a go first thing and see if the workflows start working again.

[2021-07-20 00:32] nathanwoulfe commented on #90
I've been looking at this just now, have a 1.6.4 build coming soon (will be on NuGet in 30 mins or so). Issue was related to the emails sending async, but the controller returning before that finished (was on the main thread). This was missed in testing because I was sending to a pickup folder so had virtually no latency, so no early return. Was also reusing the same SMTP client, which I think mad

[2021-07-20 07:59] NikRimington commented on #90
Hey Nathan,

I've deployed 1.6.4 and done some testing myself and that looks like it's solved it. I'll let you know if the client still raises issues with it or not :-)

Cheers for your help.

Nik

[2021-07-20 09:28] nathanwoulfe commented on #90
Awesome, thanks @NikRimington, good to hear. I think I might have crossed some wires when I was merging between this and my netcore branch, nd ended up with the wrong code in some spots.

Hopefully this resolves it ☺️

[2021-07-21 16:06] NikRimington opened #91 "Emails appear to be sending incorrectly since 1.6.4 upgrade"
**Describe the bug**
Since upgrading to 1.6.4 beta to address #90 emails not sending, emails are now sending but appear to be sending to the wrong person/people.

Instead of emailing the address provided in the "Email" field:
![image](https://user-images.githubusercontent.com/13313745/126521526-8f041816-dd8a-467b-83d2-521a5b289cf0.png)

It appears to be emailing one (or more) of the group members.

[2021-07-21 16:07] NikRimington commented on #90
Emails are now sending (although incorrectly it appears but I've raised a separate issue for that)

[2021-07-21 16:07] #90 closed

[2021-07-21 16:32] NikRimington commented on #91
Since raising this, I've set up a quick local test process and can confirm that it is sending to all members of the approval group instead of the "explicit" email address.

[2021-07-21 20:27] nathanwoulfe commented on #91
Thanks @NikRimington, I'll look into this.

Could you also check the notifications settings - it's possible to configure who receives which emails, so could be a combination of those settings plus what looks like a bug when checking for the existence of the group email.

Will fix and include in 1.6.4

[2021-07-22 06:17] nathanwoulfe commented on #91
@NikRimington tonight's build should resolve this - will be on NuGet around 2 hours from the time of this comment.

[2021-07-22 09:42] NikRimington commented on #91
@nathanwoulfe I can confirm that the latest 1.6.4 beta has fixed this issue :-) Cheers!

[2021-07-22 09:52] nathanwoulfe commented on #91
Glorious! I'll package up a release tomorrow.

Will update the docs re notification emails, I think the default settings don't make sense. I'll deal with that properly in a migration in the next major, but better docs will help for now.

[2021-07-22 20:01] azdyrski commented on #91
Is this only an issue on 1.6.4 beta or also effects previous versions?  We just updated to 1.6.3 (but have not updated our production environment yet), will this be an issue there?

[2021-07-22 21:35] nathanwoulfe commented on #91
Hi @azdyrski this was discovered in 1.6.3, and will have potentially been an issue in earlier releases too.

I'd hold off on deploying 1.6.3 and go straight to 1.6.4.

[2021-07-23 20:04] azdyrski opened #92 "Accessibility changes"
**Is your feature request related to a problem? Please describe.**
Our accessibility specialist on our team has identified a number of issues that we have resolved our end through deploy-time substitution of modified content files (views, css, js) from the plumber package.  This makes updating the package take longer than it should ideally due to a manual process of having to merge our changes bac

[2021-07-24 01:17] nathanwoulfe commented on #92
Hi @azdyrski, this is super thorough. I'll need to have a look through the list and determine what is Plumber behaviour/implementation versus what is Umbraco-inherited.

I'd expect all (or most of) the text contrast issues to be related to the Umbraco styles, so not something I'd be open to modifying for Plumber since I need to rely on Umbraco UI as much as possible. Likewise with the task tables

[2021-07-27 19:52] azdyrski commented on #92
Sounds good, thanks for your thorough response!

Your mention of the umbraco styles made me I should have mentioned that we do a similar replacement for the default umbraco BO styles, so some of the stuff in the description is definitely related to that like you said.

Thanks again, will keep an eye out for updates here/on the github.

[2021-08-06 14:51] NikRimington opened #93 "Workflow Cancelled emails not sending"
**Describe the bug**
When I cancel a workflow, I expect the Workflow cancelled email to get sent out to the approval group to inform them it was cancelled.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an approval group
2. Request publish on a page protected by the approval group
3. Wait for the Approval Request notification to arrive
4. Cancel the request

**Expected behavior**
I w

[2021-08-06 20:30] nathanwoulfe commented on #93
Thanks @NikRimington, I'll get this fixed up today. 1.6.6 isn't far away, but I'll publish as a nightly too.

[2021-08-06 22:20] nathanwoulfe commented on #93
@NikRimington does the approval group by chance have a group email configured?

[2021-08-06 22:32] NikRimington commented on #93
It does yes, I can't recall if my local test one does though.

[2021-08-06 23:05] nathanwoulfe commented on #93
Makes sense in that case - because the email body is localized, it expects the recipient to have a culture. If the recipient is a group email, there's no culture. For now, I'll set that to the current backoffice culture (in v1.6.6), but will add a language setting to the user group to allow per-group email localization (will be in the v2.0.0 release)

[2021-08-06 23:39] nathanwoulfe commented on #93
Beta building now, will be on NuGet in 30 or so

[2021-08-09 09:17] jonroberts24 opened #94 "Issues upgrading to Umbraco 8.14.2"
Our client is trying to upgrade the CMS to 8.14.2.
They are saying that they were on 16.3 (which I dont see as a valid version number)
When they upgrade to 8.14.2 and login to the CMS they get the following error:

Is there a step by step upgrade guide that will work when upgrading to 8.14.2?

Server Error in '/' Application.
Boot failed: Umbraco cannot run. See Umbraco's log file for more details

[2021-08-09 09:24] nathanwoulfe commented on #94
Hey @jonroberts24, v1.6.3 had some issues on more recent V8 releases, they'll need to go to 1.6.5 before upgrading Umbraco, then all should be fine

[2021-08-23 19:29] 37gears opened #95 "View differences not working with license"
**Describe the bug**
when you click view differences an error occurs:

An error occured
Error getting changes for workflow instance f2920444-1291-444f-866d-080d77728849: Current license does not include this feature

Exception Details
InvalidLicenseException: Error getting changes for workflow instance f2920444-1291-444f-866d-080d77728849: Current license does not include this feature
Stacktrace
a

[2021-08-23 20:57] nathanwoulfe commented on #95
Hi @37gears, that's a bit of a strange one - do you have issues accessing other licensed features (ie can you create more than 5 approval groups)?

Looking at the trace, this is happening in a check for license impersonation, which makes me think that perhaps you've deployed the test.lic file into production?

Could you also let me know the licensed URL and the URL where the error occurs?

[2021-08-23 21:06] 37gears commented on #95
using on www.scag.gov, license is scag.gov - we can use all other license features but noticed we can only add 5 users to a group (we have more than 5 groups working fine)

<img width="345" alt="Screen Shot 2021-08-23 at 5 02 11 PM" src="https://user-images.githubusercontent.com/34718311/130519274-1238dcbe-4f6c-46b9-a352-bb09ddbdec2a.png">

[2021-08-23 21:49] nathanwoulfe commented on #95
Ok, that's a start. I'll have a look into this today, can't see anything obvious so far... The five user limit shouldn't be a thing anymore, that was removed in a previous version, will need to check why that's happening.

Any chance that there's a test license in production? That should show a different domain message if so, but could be a possibility and would explain the licensing error.

[2021-08-23 21:53] 37gears commented on #95
no we uploaded the files and then entered them in the admin - same issue both ways

[2021-08-24 01:40] nathanwoulfe commented on #95
@37gears pretty sure I've tracked this down - looks the the HttpContext was being cached on startup, which meant later when determining the application URL it was comparing against an incorrect value. There's a nightly building now, which should resolve your issue and also the max-members bug.

Release will be on NuGet in 30 minutes or so, `v1.6.7-beta-000823`. Please let me know if this fixes the

[2021-08-24 13:06] 37gears commented on #95
that fixed everything.  Thanks for your quick response

[2021-08-24 13:06] #95 closed

[2021-08-24 20:24] lordscarlet commented on #95
This is happening to us as well, FWIW. Will look at updating our version.

[2021-08-24 21:11] nathanwoulfe commented on #95
@lordscarlet if you want to hold off for a few hours I'll have the 1.6.7 version released.

I'd fixed the issue in v2, but hadn't backported to v1. Sooner I can get v2 out the better, trying to keep two branches in sync sucks.

[2021-08-24 21:14] lordscarlet commented on #95
we have some internal changes to the js/html still that we have to apply teach time, so we always take a bit to pull the trigger on an update anyway.

if its a cache issue, is it possible to restart the app or anything in the short term to clear the bug temporarily?

[2021-08-24 21:51] #22 closed

[2021-08-24 21:51] #53 closed

[2021-08-24 21:51] #73 closed

[2021-08-24 21:51] #74 closed

[2021-08-24 21:53] nathanwoulfe commented on #95
Unfortunately not - there's a reference to HttpContext which gets stuck in a static class, and used when getting the application URL. Since the reference was cached way early, the Umbraco application URL doesn't yet exist, so the license check fails.

1.6.7 is building now, will be ready when you are.

[2021-08-25 17:53] lordscarlet opened #96 "System.InvalidOperationException: An asynchronous module or handler completed while an asynchronous operation was still pending."
When performing `Request Publish` from the final screen (with the comment box), we are getting the error `System.InvalidOperationException: An asynchronous module or handler completed while an asynchronous operation was still pending.`.

This follows a bit of a database issue, where we had to revert to a backup. I don't know if the error is related, but I have suspicions. I am not entirely certain

[2021-08-25 21:13] #96 closed, assigned to nobody

[2021-08-30 23:49] aurelin opened #97 ""Current licence does not include this feature" when trying to view differences"
I am using a test.lic test licence on a .local / .test domain.

When I click on the View Changes button to see the changes waiting for approval, I get an error saying that the current licence does not include that feature.

Stacktrace
`at Plumber.Core.Licensing.LicensedFeature() in D:\a\1\s\Plumber.Core\Licensing.cs:line 31
at Plumber.Web.Api.InstancesController.GetDiff(Guid guid) in D:\a\1\s\Plum

[2021-08-31 01:00] nathanwoulfe commented on #97
Hi @aurelin is the test site running locally in debug mode?

As an aside, you might have issues with email notifications on Umbraco 8.13 as there were bugs in the localization logic, which were fixed in 8.15.

[2021-08-31 04:34] aurelin commented on #97
Hi Nathan,I'm not near that computer and can't check, but iirc it should be in debug mode. Is that an issue?Also, thanks for the heads up! I did see an update notification so I'll make sure to apply that.On 30 Aug 2021 18:00, Nathan Woulfe ***@***.***> wrote:
Hi @aurelin is the test site running locally in debug mode?
As an aside, you might have issues with email notifications on Umbraco 8.13 as t

[2021-08-31 08:26] nathanwoulfe commented on #97
Definitely should be in debug (both release configuration and debug=true in the web.config).

I'll double check that this works with the compiled code, just occurred to me that I've been testing against source, so the compiled library may behave differently

[2021-08-31 15:47] aurelin commented on #97
Just double-checked and yep it's in debug mode

[2021-09-10 00:51] aurelin commented on #97
Hi Nathan,

I just wanted to check in if you saw my last comment - the release config and web.config are both set to debug mode.

Thank you!

[2021-09-10 01:27] nathanwoulfe commented on #97
Yeah, still trying to debug this one - it's difficult given it works fine for me. You're not the only one seeing similar issue, so certainly something I need to sort out...

[2021-09-10 05:50] nathanwoulfe commented on #97
@aurelin I'm looking at this now, I can't reproduce the issue:
- running Umbraco 8.13.0
- plumber 1.6.8 nightly build (beta builds in release configuration)
- visual studio 16.10.4
- debug, any cpu
- web.config compilation debug="true"
- site served from https://localhost:44362
- backoffice shows license impersonation banner
- compare diff returns the expected data, no error

Are you running from

[2021-09-10 14:38] aurelin commented on #97
I'm running it as a virtual application in IIS on my local machine under https://umbraco.local. In the backoffice, it recognises the test licence, and other parts (such as document type approval flows and exclude nodes) work well.

[2021-09-10 14:57] aurelin commented on #97
I have the same issue when running from IIS express (localhost:[port])

That being said, I just realised the umbraco version I stated is wrong (I forgot I updated). I'm at 8.16.

[2021-09-10 15:29] wilbert-seansly opened #99 "Multi Url Picker value doesnt appear to save in workflow."
Whenever I add a field of type Multi Url Picker (Umbraco.MultiUrlPicker), the value doesn't appear save on an item in a workflow.  I'm just using a trial license right now.  Umbraco 8.14.2

If I remove the item from the workflow, I can then add a value to the field and it saves correctly.

[2021-09-13 23:30] nathanwoulfe commented on #99
Hi @wilbert-seansly I'm not sure I follow - are you meaning you're adding a new property of type Umbraco.MultiUrlPicker to a content type where an instance of that content type is in a workflow? Or adding a value to an existing url picker on a node already in a workflow? Either way, Plumber doesn't change how content is saved, other than to optionally prevent content edits in an active workflow.

[2021-09-13 23:32] nathanwoulfe commented on #97
Wondering if it's due to virtualising - the test license is really intended for use directly from visual studio (ie new solution, install umbraco, install plumber, add license, F5).

I'm going to add some additional logging to the next release to make these sorts of issues easier to debug

[2021-09-14 03:01] #94 closed

[2021-09-14 03:01] #93 closed

[2021-09-15 17:05] aurelin commented on #97
I'm not sure.. I get the same error when I run out of IIS express (installed umbraco within an existing solution as a separate project, installed plumber through NuGet, added licence, F5). The entire solution is in debug mode on localhost.

[2021-09-15 21:04] nathanwoulfe commented on #97
Strange... The 1.6.8 beta has some additional logging to check the domains being compared when validating the test license, maybe bump to that version and share the logs?

I'll add some more, and push a new beta this morning.

[2021-09-15 23:18] aurelin commented on #97
Installed the beta, then re-tried in IIS express. That now works, not sure why it didn't before.

When trying to access through a .local domain, it still fails.
From the log file:

`{"@t":"2021-09-15T23:10:54.7750323Z","@mt":"Error getting changes for workflow instance 658e774c-783c-4593-8f1a-7f8172e076ea: {message}","@l":"Error","@x":"Plumber.Core.InvalidLicenseException: Current license does not

[2021-09-30 09:35] gdaythom opened #102 "Plugin causes website to crash (500 error)"
**Describe the bug**
Attempting to get Plumber2 working on localhost with my instance of Umbraco 8.13.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually add all the relevant files to the Umbraco website filesystem.
2. Create a blank test.lic.
3. Start IIS Express.

**Expected behavior**
The Umbraco website boots as normal. And the Plumber plugin is accessible via the CMS.

**Screensho

[2021-09-30 09:46] nathanwoulfe commented on #102
Hey @gdaythom, it's definitely a missing file, but not the license - Plumber has a dependency on Portable.Licensing, and won't run without it.

Normally that would be resolved by NuGet, so you'll probably need to do the same as with Plumber - download the NuGet package, change to zip, extract, then add the DLL to /bin.

[2021-09-30 23:28] gdaythom commented on #102
Thank you so much for your support @nathanwoulfe. All is resolved now.

[2021-09-30 23:28] #102 closed

[2021-10-02 01:06] nathanwoulfe commented on #102
Cheers @gdaythom, glad to hear it's working.

[2021-10-08 01:25] nathanwoulfe commented on #78
@lordscarlet this is now a thing in v2

[2021-10-08 01:25] #78 closed

[2021-10-11 14:00] bachratyg opened #103 "Consider splitting customizations from core static assets"
**Is your feature request related to a problem? Please describe.**
I'm supposed to drop the license into `\App_Plugins\Plumber\`, I can add custom translations to `\App_Plugins\Plumber\lang\` or add custom email templates under `\Views\Partials\WorkflowEmails\`. However this all gets wiped out when doing a full clean/rebuild because the `ClearPlumberPackageAssets` target in `Plumber.Backoffice.tar

[2021-10-11 20:42] nathanwoulfe commented on #103
Hey @bachratyg, this is what happens when I rush to get things out the door for a new Umbraco version 🙄

Would appreciate anything you were able to share!

[2021-10-12 10:48] bachratyg commented on #103
I meant this: https://github.com/nathanwoulfe/Plumber-2/blob/master/DOCS.md#localization

If I understand correctly moving the translation files/overrides from the plugin folder to /config/lang should work just as well? Then this is no longer an issue.

This should probably be configurable. If there is no config then the original path is in effect. UmbracoForms does the same, see https://our.umbra

[2021-10-13 01:45] nathanwoulfe commented on #103
@bachratyg I've had a fiddle with this and have managed to leave the license/key files and any modified email templates untouched on Build/Clean. Will update again to BeforeBuild/BeforeClean, and check that doesn't break anything.

With those changes, I think the license can stay where it is - if it's not being deleted, it should be fine.

And calling back to the language files, I haven't tried ov

[2021-10-13 07:02] nathanwoulfe commented on #99
@wilbert-seansly I think I've found your issue:
- edit a content item
- do NOT save
- request publish
- workflow reports as complete, but data is not saved

Will have a fix in 2.0.2

[2021-10-15 19:05] lordscarlet opened #106 "Cannot save settings in domain.local"
**Describe the bug**
When attempting to save overall workflow settings, an error is thrown. This occurs on `domain.local` with an empty `test.lic`

the error is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a site
2. Install Plumber
3. Navigate to the Workflow section
4. Navigate to _Settings_ in the left hand navigation
5. Navigate to the _Notifications_ tab
6. Complete th

[2021-10-15 19:10] #106 closed, assigned to nobody

[2021-10-15 19:40] lordscarlet opened #107 "Cannot request publish on the child of a node based workflow"
**Describe the bug**
Under some circumstances, when a user attempts to _Request publish_, an error is received.

The error received is:

[code]

This is buried in the additional context, so let me bubble it up: **_This only happens if a license is specified_**. If using an unlicensed copy, the above error does not occur and everything behaves as expected.

**To Reproduce**
Steps to reproduce the b

[2021-10-19 10:53] fransmilou opened #108 "Unable to save settings using a test license"
Unable to save settings

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Workflow'
2. Click on 'Settings'
3. Fill out required fields.
4. Click on 'Save'
5. Se error.

**Expected behavior**
Settings should be saved

**Screenshots**
![image](https://user-images.githubusercontent.com/92791098/137895167-c6f8be54-0ebf-41c1-a750-f207068beecb.png)

**Desktop (please complete the following in

[2021-10-20 12:00] fransmilou commented on #108
Hi @nathanwoulfe thanks, that issue was solved. But i have to ask should not a test.lic license enable all features if running on localhost? Currently we got this error if trying to att a doctype approval flow:

![image](https://user-images.githubusercontent.com/92791098/138088571-936d3bb2-36cd-4f9b-9e7b-17e57c0abedb.png)

So we have a hard time evaluate Plumber for our use-case without testing al

[2021-10-21 14:54] fransmilou commented on #108
Great! it worked fine in debug mode.

But unfortunately we can not test all features yet. We can´t change the Flow type. it fallbacks to 'Explicit' after we sucessfully saved the settings. (tested both Implicit and Exclude) we want to use the 'Implicit' setting.

![image](https://user-images.githubusercontent.com/92791098/138303062-89bae98b-54ef-402e-a418-b713515161ea.png)

[2021-11-01 17:58] aurelin commented on #97
Hi Nathan,

I upgraded to umbraco 8.17 / workflow 2.0.2 and am still getting this error message when using a .test or .local domain, except now it appears as a nice, red error message, not an uncaught exception.

[2021-11-01 20:55] nathanwoulfe commented on #97
How is your site set up? Needs to running in debug, from the IDE. The domain no longer matters, so long as these conditions are met.

Does your backoffice show the license impersonation banner? What do you see in the licensing dashboard in the workflow section?

[2021-11-01 22:24] aurelin commented on #97
I am not currently able to get IISExpress to run with a .local domain. While my settings are so that it builds in Debug mode, it isn't running from VS directly (it's set up as a site in IIS).
It does not show the banner there, although it does say a test licence is active in settings.

When I run it from VS, it works, but it isn't under my local domain. I guess I can switch back and forth dependin

[2021-11-03 11:03] jesperweber opened #109 "Error getting assigned instances for user id xx: Sequence contains no elements when view the editor Workflow dashboard"
**Describe the bug**
Gets the followingen exception when viewing the editor Workflow dashboard. "Error getting assigned instances for user id xx: Sequence contains no elements"

The error started occurring on our production environment yesterday without any new deployment to the environment the last month.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the editor Workflow dashbaord

*

[2021-11-03 21:06] nathanwoulfe commented on #109
Hey @jesperweber, few things to check:
- have any groups been deleted?
- have any users been deleted?
- is this happening for all users or just -1

Given there have been no code changes, it must be something in config/content.

I'd recommend updating to the latest release too, there are a few bug fixes between 1.5.x and the latest 1.6.x. No reason not to go to the v2 release either.

[2021-11-04 13:43] jesperweber commented on #109
Hi @nathanwoulfe, thanks for you reply.

From your questions I managed to reproduce the error on my local environment.

1. Create a group (no need to add members to the group)
2. Add the group as a content approval flow on a page
3. Request a publish
4. Delete the group
5. Now the editor Workflow dashboardet throws the exception

So it seems that deleting a group with pending approvals courses the

[2021-11-04 14:18] jesperweber commented on #109
Just tried with version 1.6.8 and 2.0.2 and both versions has the same error.

[2021-11-04 14:22] jesperweber commented on #109
BTW some nice changes in version 2 :-)

[2021-11-05 05:38] nathanwoulfe commented on #109
Cheers @jesperweber, that's clear reproduction steps. It's not something I've fixed (I think the confirm group delete modal was a bandaid solution for cases like this). Shouldn't be a big deal to fix, just need to properly handle cases where the assigned group no longer exists, and skip that step of the workflow.

I'll deal with it for 2.0.3, which currently has no due date, haven't even bumped th

[2021-11-05 06:07] nathanwoulfe commented on #109
Had a quick look, despite the overlay saying pending workflows will be cancelled when deleting a group, that doesn't actually happen, hence this error... Looks like I started with good intentions then promptly forgot to finish...

[2021-11-05 09:23] jesperweber commented on #109
Sounds great with a fix in 2.0.3 and yes from the overlay it looks like you thought about the case :-)

I don't get any errors when viewing content node, even on the workflow config tab, so it seems like the case is handled there.

It's important that the fix will not only make sure that the error not will happen when deleting feature groups, but also handles the cause, like in our case, where the

[2021-11-09 16:05] Navorski opened #110 "Preview button in Workflow content app not working"
When a document is edited and "request publish" has been pressed, the approver wants to see what the document will look like. There is a preview button available

![image](https://user-images.githubusercontent.com/7352877/140959224-ca6ed486-b0fa-4643-a901-7e8a5241c107.png)

But when i press the button the page throws an error.

![image](https://user-images.githubusercontent.com/7352877/140958878-c

[2021-11-11 03:03] nathanwoulfe commented on #110
Hey @Navorski thanks for letting me know - will fix this for the next release. Looks like I always need to pass the culture param with a valid value

[2021-11-11 08:25] nathanwoulfe commented on #109
@jesperweber just a quick update - this was a bit larger than I expected, since it needs to also manage cleaning up group permissions to avoid blowing up when new workflows try to assign tasks to the deleted group. All under control, just took more effort than I expected.

[2021-11-12 06:04] nathanwoulfe commented on #109
@jesperweber v2.1.0-rc is on nuget now. Bumped the minor as I've also updated the minimum V8 version to 8.16

[2021-11-19 02:07] nathanwoulfe commented on #110
Fixed in v2.0.0-rc

[2021-11-19 02:07] #110 closed

[2021-11-19 02:07] #109 closed

[2021-11-19 02:08] #108 closed

[2021-11-19 02:08] nathanwoulfe commented on #108
Fixed in 2.0.2

[2021-11-19 02:08] #107 closed

[2021-11-19 02:10] #103 closed

[2021-11-19 02:11] nathanwoulfe commented on #103
I believe this has been resolved with changes in Plumber.Backoffice.targets, released in v2.0.2. @bachratyg please let me know if the issue remains.

[2021-11-19 02:11] nathanwoulfe commented on #99
Fixed in v2.0.2

[2021-11-19 02:11] #99 closed

[2021-11-19 07:21] nathanwoulfe commented on #92
@azdyrski been a while, but have made pretty good progress on most of these - I've updated the task list and left some additional comments to highlight issues related to Umbraco default behaviour. These updates are all in the v2.1.0-rc.

[2021-11-23 10:05] jesperweber opened #111 "Filter users not working"
**Describe the bug**
When adding members to an approval group, the filter is not working. Filtering groups works just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an approval group
2. Click 'Add' on Group members
3. Enter a search term in the "Type to filter..." field
4. See that the list of users are not filtered

**Expected behavior**
From the filter on the screenshot below

[2021-11-23 10:22] nathanwoulfe commented on #111
Hey @jesperweber I have a feeling this is an Umbraco issue, vaguely remember seeing a related big. I think it's due to the filter applying to the entire user object rather than just the name property.

Will have a proper look in the morning, I have a bit of stuff to wrap up for 2.1.0, so can include this if it needs a Plumber fix

[2021-11-23 10:25] jesperweber commented on #111
Hey @nathanwoulfe Sounds great.

If I go to the Users section in Umbraco, the Umbraco filter works fine on the user list. But, don't know how much Plumber relies on the Umbraco core.

[2021-11-23 22:07] nathanwoulfe commented on #111
@jesperweber bit of a strange one - in Umbraco 8.16.0 the user picker doesn't filter in the Users section either (for me at least). Plumber uses the core UserPicker on EditorService, so nothing custom, but there might be config missing from my implementation. Doesn't explain though with the filter in Users isn't working...

[2021-11-23 22:57] nathanwoulfe commented on #111
https://github.com/umbraco/Umbraco-CMS/pull/11605 => will be part of 8.18, not sure if it's been merged up into v9. Definitely doesn't work in Plumber on V8, haven't checked on V9.

[2021-11-24 08:20] jesperweber commented on #111
Ahh, so the Umbraco issue you are linking to is about the filtering in the user picker, which Plumber uses. I was testing the Umbraco filter function in the users section and this work.

![image](https://user-images.githubusercontent.com/2575817/143200649-7fdf48eb-0c58-4fde-a78d-90fffc06705a.png)

I think you are right that this is not a Plumber issue but an Umbraco issue which will be fixed in 8.

[2021-11-24 08:23] nathanwoulfe commented on #111
Yup, that explains it - the filter in the userpicker has been broken for at least 14 months (that was the last change prior to the bug being fixed), surprising it took that long for anyone to realise!

Picker really should be paginated too, bit that's a whole other conversation...

[2021-11-24 08:29] jesperweber commented on #111
Haha, that's a long time.

Well thanks for helping sorting this out :-)

[2021-12-03 07:35] nathanwoulfe commented on #111
Will be fixed when the underlying issue is resolved in Umbraco, hopefully not too far away.

[2021-12-03 07:35] #111 closed

[2021-12-31 05:45] gurumurthyjv commented on #48
HI @nathanwoulfe ,

We also, have an similar issue with plumber 1.6.28 on Umbraco 8.14.

We have installed it through nuget in DEV environment, and we have deployed the code changes to our UAT (both DEV and UAT are 2 different environments with different DB's) and we are getting boot failed Umbraco exceptions. Below are some of the logs attached. This exception is from plumber migration as per log

[2021-12-31 06:19] gurumurthyjv opened #113 "plumber2 migration Umbraco boot failed Exception"
HI @nathanwoulfe ,

We also, have an similar issue with plumber 1.6.8 on Umbraco 8.14.

We have installed it through nuget in DEV environment, and we have deployed the code changes to our UAT (both DEV and UAT are 2 different environments with different DB's) and we are getting boot failed Umbraco exceptions. Below are some of the logs attached. This exception is from plumber migration as per logs

[2022-01-05 06:18] nathanwoulfe commented on #113
Looking at the trace this appears to be a permissions issue - the required tables haven't been created hence the boot failure. It's a database problem, not specific to Plumber - check the connecting account has db_owner permission in your database.

The package manages installation on different environments. So long as the DLLs are deployed, the install process will run once only, when the site st

[2022-01-05 08:23] gurumurthyjv commented on #113
Thanks for the response @nathanwoulfe ,

Will check the permission issue, and will re-try it.

Thanks,

[2022-01-26 00:58] lordscarlet opened #117 "Scheduled Date not working"
**Describe the bug**
I can't imagine this has been around this long and no one else has run into it, but...

A publish request with a scheduled date does not work. I have tried a few different scenarios, and I can't seem to get any work. I concede this could certainly be a configuration or our specific implementation issue, but.. I have tried it in multiple environments, and it just does not seem

[2022-01-26 01:53] nathanwoulfe commented on #117
Thanks @lordscarlet, will have a dig into it...

I know I changed how the scheduling worked way back in the day, so that the current implementation uses the Umbraco UI elements to work the same way as scheduling a non-workflowed publish. In theory, it should just work because the scheduling component is all native Umbraco stuff.

I have a feeling it might be related to setting a scheduled date on

[2022-01-26 02:23] lordscarlet commented on #117
I am pretty certain I specifically hit save before requesting publish, but
I can't say with 100% certainty. I am on the other side of the world from
you, so I am off to bed, but will test some of this out in the morning.

Do you know what is saved in the umbraco database if something is
scheduled? I can take a look in there to see how those records compare to
ones triggered by plumber.

On Tue, Ja

[2022-01-26 02:36] lordscarlet commented on #117
I BELIEVE that instance is working (approving beyond the published date)
but, again, can't say for sure at this moment.

The first thing to check is probably just if you can replicate the problem
and it's not something off in my setup.

On Tue, Jan 25, 2022, 9:30 PM Nathan Woulfe ***@***.***>
wrote:

[2022-01-26 03:00] nathanwoulfe commented on #117
I agree, I think that case is ok - handler runs on the publishing event, checks for any active workflow. If it finds one, the publish is cancelled and should clear the scheduled date (since that date must have passed to trigger the publishing event, given the node can't be published from the UI while it's in a workflow).

Wondering if that's somehow interacting with the other scheduling flow...

V

[2022-01-26 11:37] lordscarlet commented on #117
I apparently had an update to my original submission that I never saved. It was:

The real problem seems to be that there is no `DestVersion`? On a scheduled publish, should that be there? Or does it not populate until it has actually published?

[2022-01-26 12:14] lordscarlet commented on #117
It looks like when I do a scheduled publish via the Umbraco UI, it adds a record to `umbracoContentSchedule`. When I do the same through the Plumber interface, no such record is added.

[2022-01-26 12:59] nathanwoulfe commented on #117
That sounds pretty conclusive to me!

The source and dest versions in the plumber table are for comparing differences for workflowed changes, dest should be populated when the workflow starts, will check that too. I don't think that's a super useful feature, given the diff is horrible for anything other than simple text fields. Preview is more helpful, imo.

[2022-01-26 13:22] lordscarlet commented on #117
Related: we often get an error when trying to run the diff.

Also a reminder that we are on 2.0.2, not sure if there are any known
related changes in the intervening time.

On Wed, Jan 26, 2022, 7:59 AM Nathan Woulfe ***@***.***>
wrote:

[2022-01-26 14:02] lordscarlet commented on #117
Let me know if there is anything I can do to debug.. I am going to keep digging on my end.

[2022-01-26 14:03] lordscarlet commented on #117
on a side note, I really want to take the time to write a better diff plugin. I haven't searched to see if anyone else has. But what I really want is more of a preview diff.

[2022-01-26 15:57] lordscarlet commented on #117
I apparently had a vanilla install sitting around with `v2.0.1` of Plumber. I tested it, it worked.

I installed `v2.0.2`.. replicated the bug.

So this install does not contain any of our surface controllers or any of that, it's an out-of-the-box `8.17.0` install with Plumber installed.

I then updated to `v2.1.1` and I am seeing the same (bad) behavior.

If there's any other information we can p

[2022-01-26 23:26] nathanwoulfe commented on #117
@lordscarlet have a look at 2.1.2-rc (on Nuget now), I think it resolves both the scheduling and content diff issues.

Scheduling wasn't being written to the Umbraco content schedule (as you discovered), diff wasn't setting the destVersion when creating a new workflow. I've done a quick test of both, but would appreciate another set of eyes.

[2022-01-27 02:10] lordscarlet commented on #117
I have loaded this on my vanilla install, and things look good. Loading it on our real instance takes a little more work, particularly in verifying accessibility issues (although I think you implemented most/all of the changes submitted by @azdyrski).

I also will need that instance to test the diff, but it's looking good so far!
![image](https://user-images.githubusercontent.com/17951/151279286-f

[2022-01-27 07:07] nathanwoulfe commented on #117
Have you tried with a test license on a local site? Add test.lic to the plumber app plugins folder and you should get all features (provided the site is running in debug mode, from Visual Studio)

A11y stuff still needs a bit of work, tricky to separate the things in my control from the stuff I inherit fr Umbraco.

Good to hear it's looking positive though 👍

[2022-01-27 20:57] lordscarlet commented on #117
Our initial tests in our actual destined for production instances are successful as well.

Diff looks good as well.

![image](https://user-images.githubusercontent.com/17951/151442371-137353e6-f5ac-4311-9bef-531dbc879774.png)

[2022-01-27 21:21] nathanwoulfe commented on #117
Awesome. Surprised it took this long for anyone to notice it wasn't working properly 😅

I'll wrap it up into a patch release today.

Unrelated - have noticed in our prod environment random errors on some workflows, reported as PublishFailedInvalidContent or something similar. Interested if you've seen the same?

[2022-01-28 10:38] lordscarlet commented on #117
@nathanwoulfe where does that error manifest itself? Is it handled by Umbraco and and in the log there, or are you seeing it in external monitoring of some sort?

[2022-01-28 10:44] lordscarlet commented on #117
The only thing I see in the last week in Umbraco's log is below. I _think_ that is related to the diff bug you solved above?

I don't see anything in Application Insights.

[code]

[2022-01-28 10:49] lordscarlet commented on #117
I do see some of these:

[code]

[2022-02-12 03:16] nathanwoulfe commented on #117
Diff and schedule bugs were fixed in v2.1.2 👍

[2022-02-12 03:16] #117 closed

[2022-02-12 03:18] nathanwoulfe commented on #92
v2.1.0 resolved the majority of these issues. Will aim for the remaining issues in the next patch release

[2022-03-05 02:08] nathanwoulfe opened #122 "Suggestions and a license question"
### Discussed in https://github.com/nathanwoulfe/Plumber-2/discussions/121

Todo for next patch:

<sup>Originally posted by **sytexa-julia** March  5, 2022</sup>

1. We would like to make comments a required field when the reviewer is Rejecting. Is this possible currently, or could it be added as an option?
2. After a workflow completes, the content tree should be refreshed to reflect the updated

[2022-03-05 02:09] #62 closed

[2022-03-05 02:09] #113 closed

[2022-03-10 21:56] nathanwoulfe opened #123 "Error on preview"
**Describe the bug**
In Umbraco 8.17 using Workflow 2.1.1 When submitting an edit for approval. When I click on the preview screen I get

Server Error in '/' Application. Culture is not supported. Parameter name: name undefined is an invalid culture identifier. Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more infor

[2022-03-28 09:32] EM-Benji opened #124 "Umbraco 9.3.1 Offline Approval not working"
**Describe the bug**
Setup Plumber and do an offline approval locally then I get a blank white bar at the bottom of the page with console errors

[code]

[code]
This is cause the plumber-offline-loader is requesting some files with non ".min.js" urls which don't exist.

Editing those urls to have the required .min made progress but ran into other issues like

Umbraco.Sys.ServerVariables.Plumber.pl

[2022-03-28 09:55] nathanwoulfe commented on #124
Hey @EM-Benji I'll have a look at this tomorrow - the offline stuff has always been super flakey, it probably shouldn't work at all...

[2022-03-28 10:05] EM-Benji commented on #124
Hi @nathanwoulfe yeah it was temperamental at times in v7 too. thanks for looking into this.

[2022-03-29 21:09] nathanwoulfe commented on #124
@EM-Benji so this was super broken! Having to target 8 and 9 makes it even more fun to fix, but looks like I've got it sorted. Will test a bit more, then aim for a patch in a week or so.

[2022-03-30 08:34] EM-Benji commented on #124
@nathanwoulfe thanks for the quick response. that's great news

[2022-04-04 06:39] nathanwoulfe commented on #124
@EM-Benji 2.1.4 is available now, should be all good again with offline approval

[2022-04-04 06:39] #124 closed

[2022-04-04 06:39] nathanwoulfe commented on #122
All resolved in 2.1.4

[2022-04-04 06:39] #122 closed

[2022-06-24 00:15] nathanwoulfe opened #127 "Workflow Description limit"
### Discussed in https://github.com/nathanwoulfe/Plumber-2/discussions/126

<div type='discussions-op-text'>

<sup>Originally posted by **jbbrown333** June 10, 2022</sup>
I noticed recently that there is a 255 char limit on the workflow description field. When entering more than 255 char, it doesn't throw an error and it doesn't activate the workflow. Is there a way to either increase that limit -

[2022-06-24 00:15] nathanwoulfe commented on #127
Resolved in 2.1.6

[2022-06-24 00:15] #127 closed

[2022-07-12 16:52] lordscarlet opened #128 "Allow for "Type of Change" when submitting a node for approval"
**Describe the solution you'd like**
When submitting a node for review, allow the user to select the "type of change" they are requesting to publish.

![image](https://user-images.githubusercontent.com/17951/178548278-8567c667-bb1c-4aec-ba10-038efaa2b24d.png)

I am unsure whether it should be a dropdown or a check/radio list. It's possible that it should be configurable.

The list of options shoul

[2022-07-12 16:57] lordscarlet opened #129 "Allow selected "Type of Change" to make"
**Describe the solution you'd like**
When a user selects a particular Type of Change (#128), the request would mark the file attachment as required. The user would not be able to submit the request without attaching a document.

**Describe alternatives you've considered**
The only alternative we have come up with is through training that the attachment is required under certain circumstances

**Li

[2022-07-15 11:46] nathanwoulfe commented on #128
Hi @lordscarlet, I'll need to have a think about this one - it's a very specific requirement, and likely not required by the majority of sites so would be adding unnecessary load on those users.

I'd question whether this would solve the issue for your client. If a node is workflowed without a clear comment, but sends a value to indicate a text change, that's still very little context for the revi

[2022-07-18 05:26] #123 closed

[2022-07-18 10:29] bensheridanreason opened #130 "Skipping on save events"
I have added  a hook on save, this works fine if when using the inbuilt save/publish flow but when something is sent to be approved it dose not trigger the checks.

**To Reproduce**
The hook is registered like below:
`

    [RuntimeLevel(MinLevel = RuntimeLevel.Run)]
    public class OnSavingHookComposer : ComponentComposer<OnSavingHookComponent>
    {
    }

    public class OnSavingHookComponent

[2022-07-18 21:17] nathanwoulfe commented on #130
Thanks @bensheridanreason I'll take a look.

This is the opposite to what I'd expected - I'd figured it was when sending unsaved content, but sounds like it's an issue in the publish step (I have a feeling it's as simple as events not being fired when the node is published)

I have a couple of other minor fixes pending, so maybe a patch later this week

[2022-07-19 03:54] nathanwoulfe commented on #130
@bensheridanreason I think I've tracked this one down, reproducing like this:
- added save hook component to cancel all saves
- verified component code runs when saving a node
- verified component code runs when submitting an unchanged node for publish (runs when workflow completes)
- verified component code runs when submitting a node with pending changes

Issue appears to be in submitting a node

[2022-07-19 04:16] nathanwoulfe commented on #130
[plumber.zip](https://github.com/nathanwoulfe/Plumber-2/files/9137400/plumber.zip)
Attached zip is the latest plumber.js build, please test and let me know if this solves the issue.

[2022-07-19 07:44] bensheridanreason commented on #130
Hi @nathanwoulfe

Tested the js fix and it is stopping the request to publish and showing the correct message.

That has solved the issue thanks for the quick turn around on this

[2022-07-19 07:44] #130 closed

[2022-07-19 08:44] nathanwoulfe commented on #130
Awesome, glad that sorted it.

You'll be fine to keep using that patched file, the same change will be in the next release.

[2022-08-01 04:27] nathanwoulfe opened #131 "Replace EventHandlers with Notifications"
Events are raised when actions are completed (ie a node is sent for approval). These should be replaced with 'normal' Notifications, to leverage the existing INotification pattern.

[2022-08-15 12:54] drbldgtl opened #132 "ERROR: Could not get workflows for date range"
**Describe the bug**
Exception accessing Workflow dashboard following initial install.

**To Reproduce**
Steps to reproduce the behavior:
1. `Install-Package Plumber.Workflow` without a licence file (so should revert to trial)
2. Run project locally
3. Observe error on Workflow dashboard, "ERROR: Could not get workflows for date range"

**Expected behavior**
Dashboard should display.

**Screenshot

[2022-08-15 21:10] nathanwoulfe commented on #132
Oh that's not cool - looks very much like a SQL vs SQLite issue. Will have a look and get it patched up.

[2022-08-16 00:53] nathanwoulfe commented on #132
@drbldgtl 10.0.2-rc will be on NuGet shortly - if you could confirm the issue is resolved in the RC, I can schedule a patch release (need to confirm with my HQ colleagues re the preferred scheduling as we're still in the middle ground between acquisition and re-release)

[2022-08-19 23:43] nathanwoulfe commented on #132
Paging @drbldgtl...

[2022-08-22 16:17] drbldgtl commented on #132
@nathanwoulfe, the issue appears to have been resolved in the RC.
I see the following following install, and the error in the description no longer appears.
![image](https://user-images.githubusercontent.com/6883719/185969362-419cdf94-c4de-46ff-bc91-3d73bc75f64e.png)

[2022-09-01 00:16] nathanwoulfe commented on #132
Hey @drbldgtl plan is a release next Tuesday, with a couple of other minor fixes. Thanks for confirming this one.

[2022-09-01 00:16] #132 closed

[2022-09-12 12:44] fatmazayedsayed opened #133 "notification by mail not work"
**Describe the bug**
sending emial notifcation not work at all
and when try to edit sender exception occured
ERROR: Object reference not set to an instance of an object.
and changes discareded

[2022-09-21 14:09] markadrake commented on #128
I have some feedback and I think it relates to the OP's needs here.

I would really like to have the ability to add more data to the workflow. The best way to do that (IMO) is to optionally associate an element type to the workflow process. That way the OP (and I) could leverage what we already have and what we already know to customize the workflow. By default, nothing needs to be associated. Jus

[2022-09-21 18:47] lordscarlet opened #134 "Document type approval flows unable to be assigned to content type with no properties"
**Describe the bug**
Our list of document types when we add _Document type approval flows_ does not include all document types. Through further investigation, it appears that this is because the document type(s) do not have any of _their own_ property groups.

Our use case is:

- Parent doc type
  - Child A doc type
  - Child B doc type

Child A and Child B do no have their own properties, but the

[2022-09-22 06:02] #131 closed

[2022-09-22 06:06] nathanwoulfe commented on #128
Hi both

I'll need to take some time to consider how this would best work - it would need to be opt-in, for one, as it's not a common requirement. First impression is that I'd change the attachment field to be configurable to attach either media or content so per @markadrake's suggestion, user could then configure a 'workflow supporting block' or something like that, which would manage validation

[2022-09-22 06:07] nathanwoulfe commented on #134
Hi @lordscarlet, this sounds like over-zealous filtering when determining the 'valid' content types - intent was to not show elements, but looks like it's a bit heavy-handed.

I have a patch for 8/9/10 due soon, will look at fixing this at the same time, even if that fix means loosening the filtering to show all content types (which might be a good thing as I can then use the internal picker rathe

[2022-09-23 09:26] johncscott opened #136 "Workflows on no longer existing nodes"
![image](https://user-images.githubusercontent.com/839694/191930745-430297e7-3e06-4f37-8a96-ee0707218441.png)
We have a number of workflow items that relate to nodes that have been deleted
I'd like to create an on delete trigger that prevented this from happening what is the best way to check if there is a current unresolved workflow?
Also what is the best way to remove these workflow items now? D

[2022-09-23 09:30] johncscott opened #135 "Update Message when updated to latest version"
Getting an update message
![image](https://user-images.githubusercontent.com/839694/191931530-2ccf5e7a-bef8-4a4e-94ae-15d869cb1299.png)
after having already updated to latest version with nuGet.
This is the packages.config:
![image](https://user-images.githubusercontent.com/839694/191931781-5f715ba7-4dcb-4690-96b9-09196ada284a.png)

This is using Umbraco v8.18.0 as a standalone installation (not c

[2022-09-23 12:08] nathanwoulfe commented on #136
Hi @johncscott, is this also on 8.18? There should be a cleanup job run automatically when deleting a node, I'll need to check that is working correctly.

In the short term if you want to clean these up manually, you'd need to delete entries from WorkflowInstance and WorkflowTaskInstance tables, using the node id to find the correct instance guid to delete.

[2022-09-23 12:11] nathanwoulfe commented on #135
Hi @johncscott I need to update that message - 8/9 will always be the latest v2 release.

That message should be gone next time the cache period expires (or when the site restarts). I hadn't correctly tagged the v2.1.8 release, so GH was returning 2.1.7 as the latest 8/9 compatible version.

[2022-09-23 12:11] #135 closed

[2022-09-23 12:46] nathanwoulfe commented on #61
https://our.umbraco.com/documentation/Add-ons/Umbraco-Plumber/

[2022-09-23 12:46] #61 closed

[2022-09-23 14:10] johncscott commented on #136
amazing - thank you Nathan - very much appreciated

[2022-10-04 00:29] nathanwoulfe commented on #136
Hey @johncscott v2.1.9 is on Nuget now, this error should be fixed in that release.

[2022-10-04 00:29] #136 closed

[2022-10-04 00:31] #134 closed